{% extends 'template_pages/python_lesson_base.html' %}
{% load static %}

{% block lesson_2_list_submenu_active %}
    sidebar_active
{% endblock lesson_2_list_submenu_active %}

{% block lesson_2_exercises_list_active %}
    sidebar_active
{% endblock lesson_2_exercises_list_active %}

{% block sidebar_page_content %}
    <!-- Identifier for submenu logic -->
    <div id="submenu_identifier" style="display: none">list_submenu_link</div>

    <!-- Key for localStorage -->
    <div id="local_storage_key" style="display: none">exercises_list</div>

    <!-- Div to fill with random numbers for mixed_numbers -->
    <div id="mixed_numbers" style="display: none"></div>

    <div class="card">
        <div class="card-body">
            <h1>Aufgabe: Listen</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            In dieser Aufgabe sollen Sie die Logik implementieren, um alle geraden bzw. ungeraden aus einer Liste <code>mixed_numbers</code>
            herauszusuchen. Alle gefundenen geraden Zahlenwerte sollen zu einer Liste <code>even_numbers</code>
            hinzugefügt werden. Alle ungeraden Zahlen sollen zu einer anderen Liste <code>odd_numbers</code> hinzugefügt
            werden. Die Liste <code>mixed_numbers</code> wird bei der Ausführung automatisch mit Zahlenwerten gefüllt
            werden.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5>Bitte Code hier eingeben:</h5>
            <div class="skulpt_code_container">
                <form>
                    <div class="text_area_wrapper">
            <textarea id="custom_code" cols="40" rows="10">mixed_numbers = []
even_numbers = []
odd_numbers = []
# In den folgenden Zeile bitte ihren Code eintragen



# Hiermit werden die Listen ausgegeben
print(*even_numbers)
print(*odd_numbers)
</textarea>
                    </div>
                    <br/>
                    <div id="skulpt_run_btn">
                        <button type="button" onclick="runit()" class="form-btn btn btn-info my-2 my-sm-0">Run
                        </button>
                        <button type="button" onclick="list_test_code()" class="form-btn btn btn-info my-2 my-sm-0">
                            Test
                        </button>
                        <button type="button" onclick="reset_skulpt()"
                                class="form-btn btn btn-info my-2 my-sm-0 float-right">Reset
                        </button>
                        <div class="btn-group dropdown float-right">
                            <button type="button"
                                    class="form-btn btn btn-info my-2 my-sm-0 solution_button_spacing"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solution
                            </button>
                            <div class="dropdown-menu dropdown-menu-right solution_dropdown">
                                <span class="code_color">mixed_numbers = []</span><br>
                                <span class="code_color">even_numbers = []</span><br>
                                <span class="code_color">odd_numbers = []</span><br>
                                <span class="comments_color"># In den folgenden Zeile bitte ihren Code eintragen</span><br><br>
                                <span class="code_color"><span class="keyword_color">for</span> number <span class="keyword_color">in</span> mixed_numbers:</span><br>
                                &emsp;<span class="code_color"><span class="keyword_color">if</span> number % <span class="number_color">2</span> == <span class="number_color">0</span>:</span><br>
                                &emsp;&emsp;<span class="code_color">even_numbers.append(number)</span><br>
                                &emsp;<span class="keyword_color">else</span><span class="code_color">:</span><br>
                                &emsp;&emsp;<span class="code_color">odd_numbers.append(number)</span><br><br>
                                <span class="comments_color"># Hiermit werden die Listen ausgegeben</span><br><br>
                                <span class="method_color">print</span><span class="code_color">(*even_numbers)</span><br>
                                <span class="method_color">print</span><span class="code_color">(*odd_numbers)</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <p></p>
            <div class="alert alert-success _alert " role="alert" id="correct_1" style="display: none">
                Klasse! Die Liste mit geraden Zahlen ist korrekt!
            </div>
            <div class="alert alert-danger _alert " role="alert" id="wrong_1" style="display: none">
                Schade, die Liste mit gerade Zahlen ist leider nicht korrekt!
            </div>
            <div class="alert alert-success _alert " role="alert" id="correct_2" style="display: none">
                Klasse! Die Liste mit ungerade Zahlen ist korrekt!
            </div>
            <div class="alert alert-danger _alert " role="alert" id="wrong_2" style="display: none">
                Schade, die Liste mit ungeraden Zahlen ist leider nicht korrekt!
            </div>
            <p></p>
            <h5>Output:</h5>
            <div class="description_container">
                <pre id="output"></pre>
            </div>
            <p></p>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}


{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_2_list' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_2_tuple' %}
{% endblock lesson_nav_buttons_next_page %}