{% extends 'template_pages/python_lesson_base.html' %}
{% load static %}

{% block lesson_2_strings_submenu_active %}
    sidebar_active
{% endblock lesson_2_strings_submenu_active %}

{% block lesson_2_exercises_strings_active %}
    sidebar_active
{% endblock lesson_2_exercises_strings_active %}

{% block sidebar_page_content %}
    <!-- Identifier for submenu logic -->
    <div id="submenu_identifier" style="display: none">strings_submenu_link</div>

    <!-- Key for localStorage -->
    <div id="local_storage_key" style="display: none">exercises_strings</div>

    <div class="card">
        <div class="card-body">
            <h1>Aufgabe: Strings</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Erzeugen Sie bitte eine Variable mit Namen <code>test_string</code>, deren Wert Sie auf <code>Hallo,
            Welt!</code> setzen. Anschließend erzeugen Sie bitte drei weitere Variablen mit den Namen
            <code>first_string</code>, <code>second_string</code> und <code>third_string</code>. Weißen Sie <code>first_string</code>
            bitte den Wert des sechsten Elements, <code>second_string</code> den Wert des zweiten Elements und <code>third_string</code>
            den Wert des letzten Elements von <code>test_string</code> zu. Nutzen Sie zu Lernzwecken bitte die Zuweisung
            durch Indexierung der <code>test_string</code> Variable, wie Sie in vorhergehendem Abschnitt gelernt haben.
            <p></p>
            Wenn Sie ihren Code eingegeben haben können Sie ihn mit einem Klick auf den Button <span
                class="text_highlighted">Run</span> ausführen. Um eine Rückmeldung zu erhalten, ob ihr Code richtig
            ist,
            benutzen Sie bitte den Button <span class="text_highlighted">Test</span>. Falls Sie noch einmal von vorn
            beginnen wollen, oder ausversehen Code der Aufgabe gelöscht haben, dann können Sie die Aufgaben einfach
            mit
            einem Klick auf den Button <span class="text_highlighted">Reset</span> zurücksetzen (Löscht auch Ihren
            Code!). Außerdem wird eine Musterlösung für die Aufgabe durch einen Klick auf den Button <span
                class="text_highlighted">Solution</sp an> bereitgestellt.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5>Bitte Code hier eingeben:</h5>
            <div class="skulpt_code_container">
                <form>
                    <div class="text_area_wrapper">
            <textarea id="custom_code" cols="40" rows="10">
# In den folgenden Zeilen bitte ihren Code eintragen



# Hiermit werden die Werte der Variablen ausgegeben
print(test_string)
print(first_string)
print(second_string)
print(third_string)</textarea>
                    </div>
                    <br/>
                    <div id="skulpt_run_btn">
                        <button type="button" onclick="runit()" class="form-btn btn btn-info my-2 my-sm-0">Run
                        </button>
                        <button type="button" onclick="strings_test_code()"
                                class="form-btn btn btn-info my-2 my-sm-0">
                            Test
                        </button>
                        <button type="button" onclick="reset_skulpt()"
                                class="form-btn btn btn-info my-2 my-sm-0 float-right">Reset
                        </button>
                        <div class="btn-group dropdown float-right">
                            <button type="button"
                                    class="form-btn btn btn-info my-2 my-sm-0 solution_button_spacing"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solution
                            </button>
                            <div class="dropdown-menu dropdown-menu-right solution_dropdown">
                                <span class="comments_color"># In den folgenden Zeilen bitte ihren Code eintragen</span><br><br>
                                <span class="code_color">test_string =</span> <span
                                    class="string_color">"Hallo, Welt!"</span><br>
                                <span class="code_color">first_string = test_string[<span class="number_color">5</span>]</span><br>
                                <span class="code_color">second_string = test_string[<span class="number_color">1</span>]</span><br>
                                <span class="code_color">third_string = test_string[<span class="number_color">-1</span>]</span><br><br>
                                <span class="comments_color"># Hiermit werden die Werte der Variablen ausgegeben</span><br><br>
                                <span class="method_color">print</span><span class="code_color">(test_string)</span><br>
                                <span class="method_color">print</span><span
                                    class="code_color">(first_string)</span><br>
                                <span class="method_color">print</span><span
                                    class="code_color">(second_string)</span><br>
                                <span class="method_color">print</span><span
                                    class="code_color">(third_string)</span><br>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <p></p>
            <div class="alert alert-success _alert " role="alert" id="correct_1" style="display: none">
                Klasse! Die Variable 'test_string' ist korrekt!
            </div>
            <div class="alert alert-danger _alert " role="alert" id="wrong_1" style="display: none">
                Schade, die Variable 'test_string' ist leider nicht korrekt!
            </div>
            <div class="alert alert-success _alert " role="alert" id="correct_2" style="display: none">
                Klasse! Die Variable 'first_string' ist korrekt!
            </div>
            <div class="alert alert-danger _alert " role="alert" id="wrong_2" style="display: none">
                Schade, die Variable 'first_string' ist leider nicht korrekt!
            </div>
            <div class="alert alert-success _alert " role="alert" id="correct_3" style="display: none">
                Klasse! Die Variable 'second_string' ist korrekt!
            </div>
            <div class="alert alert-danger _alert " role="alert" id="wrong_3" style="display: none">
                Schade, die Variable 'second_string' ist leider nicht korrekt!
            </div>
            <div class="alert alert-success _alert " role="alert" id="correct_4" style="display: none">
                Klasse! die Variable 'third_string' ist korrekt!
            </div>
            <div class="alert alert-danger _alert " role="alert" id="wrong_4" style="display: none">
                Schade, die Variable 'third_string' ist leider nicht korrekt!
            </div>
            <p></p>
            <h5>Output:</h5>
            <div class="description_container">
                <pre id="output"></pre>
            </div>
            <p></p>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_2_strings' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_2_operators' %}
{% endblock lesson_nav_buttons_next_page %}