{% extends 'template_pages/python_lesson_base.html' %}
{% load static %}

{% block lesson_2_conditional_statements_submenu_active %}
    sidebar_active
{% endblock lesson_2_conditional_statements_submenu_active %}

{% block lesson_2_exercises_conditional_statements_active %}
    sidebar_active
{% endblock lesson_2_exercises_conditional_statements_active %}

{% block sidebar_page_content %}
    <!-- Identifier for submenu logic -->
    <div id="submenu_identifier" style="display: none">conditional_statements_submenu_link</div>

    <!-- Key for localStorage -->
    <div id="local_storage_key" style="display: none">exercises_conditional_statements</div>

    <div class="card">
        <div class="card-body">
            <h1>Aufgabe: Bedingte Anweisungen</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Schreiben Sie <u>eine</u> bedingte Anweisung, in der für jedes Punkteintervall der nachfolgenden Tabelle
            der
            entsprechende Preis ausgegeben wird, sodass ein Wettbewerber wissen
            kann, welchen der Preise er aus der Tabelle gewonnen hat. Die Auswahl des Preises basiert auf der Anzahl
            der
            erzielten Punkte, die in der ganzzahligen Variable <span class="text_highlighted">points</span>
            gespeichert
            ist.
            <p></p>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Points</th>
                    <th scope="col">Preis</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1-80</th>
                    <td>Kuscheltier</td>
                </tr>
                <tr>
                    <th scope="row">81-130</th>
                    <td>Ferngesteuertes Auto</td>
                </tr>
                <tr>
                    <th scope="row">131-170</th>
                    <td>Kein Preis</td>
                </tr>
                <tr>
                    <th scope="row">171-200</th>
                    <td>Puzzle</td>
                </tr>
                </tbody>
            </table>
            <p></p>
            <div class="alert alert-primary" role="alert">
                Alle unteren und oberen Grenzen sind hier inklusive und Punkte können nur positive ganzzahlige Werte
                bis
                zu 200
                annehmen.
            </div>
            Erzeugen und weisen Sie in Ihrer bedingten Anweisung der Variable <span
                class="text_highlighted">result</span> eine
            Zeichenfolge (String) zu, die, basierend auf dem Wert der Punkte, die entsprechende Nachricht enthält.
            Wenn ein
            Preis gewonnen wurde, sollte die Nachricht <span class="text_highlighted">Sehr gut! Sie haben ein [Preisname] gewonnen!</span>
            ausgegeben werden (Ersetzen Sie [Preisname] mit dem Namen des jeweiligen Preises aus der Tabelle). Wenn
            es
            keinen Preis gibt, sollte in der Nachricht <span class="text_highlighted">Oh schade, diesmal gibt es keinen Preis.</span>
            stehen.
            <p></p>
            Wenn Sie ihren Code eingegeben haben können Sie ihn mit einem Klick auf den Button <span
                class="text_highlighted">Run</span> ausführen. Um eine Rückmeldung zu erhalten, ob ihr Code richtig
            ist,
            benutzen Sie bitte den Button <span class="text_highlighted">Test</span>. Falls Sie noch einmal von vorn
            beginnen wollen, oder ausversehen Code der Aufgabe gelöscht haben, dann können Sie die Aufgaben einfach
            mit
            einem Klick auf den Button <span class="text_highlighted">Reset</span> zurücksetzen (Löscht auch Ihren
            Code!). Außerdem wird eine Musterlösung für die Aufgabe durch einen Klick auf den Button <span
                class="text_highlighted">Solution</span> bereitgestellt.
            <p></p>
            <div class="alert alert-primary" role="alert">
                Sie dürfen ihren eigenen Code gerne mit anderen Eingaben testen. Um den Test bestehen zu können,
                sollten
                Sie
                zum testen nur den ursprünglichen Wert von 174 nutzen.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5>Bitte Code hier eingeben:</h5>
            <div class="skulpt_code_container">
                <form>
                    <div class="text_area_wrapper">
            <textarea id="custom_code" cols="40" rows="10">points = 174 # Variable, in der die erreichte Punktzahl gespeichert wird
result = "" # Variable, der Sie die jeweilige Ausgabe zuweisen
# Schreiben Sie Ihre bedingte Anweisung bitte hier






# Hiermit wird der Wert der Variable 'result' ausgegeben
print(result)</textarea>
                    </div>
                    <br/>
                    <div id="skulpt_run_btn">
                        <button type="button" onclick="runit()" class="form-btn btn btn-info my-2 my-sm-0">Run
                        </button>
                        <button type="button" onclick="conditional_statements_test_code()"
                                class="form-btn btn btn-info my-2 my-sm-0">
                            Test
                        </button>
                        <button type="button" onclick="reset_skulpt()"
                                class="form-btn btn btn-info my-2 my-sm-0 float-right">Reset
                        </button>
                        <div class="btn-group dropdown float-right">
                            <button type="button"
                                    class="form-btn btn btn-info my-2 my-sm-0 solution_button_spacing"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solution
                            </button>
                            <div class="dropdown-menu dropdown-menu-right solution_dropdown">
                                <span class="code_color">points = <span class="number_color">174</span></span> <span
                                    class="comments_color"># Variable, in der die erreichte Punktzahl gespeichert wird</span><br>
                                <span class="code_color">result = <span class="string_color">""</span></span> <span
                                    class="comments_color"># Variable, der Sie die jeweilige Ausgabe zuweisen</span><br>
                                <span class="comments_color"># Schreiben Sie Ihre bedingte Anweisung bitte hier</span><br><br>
                                <span class="code_color"><span class="keyword_color">if</span> points > <span
                                        class="number_color">0</span> <span
                                        class="keyword_color">and</span> points < <span class="number_color">81</span>:</span><br>
                                &emsp;<span class="code_color">result += <span class="string_color">"Sehr gut! Sie haben ein Kuscheltier gewonnen!"</span></span><br>
                                <span class="code_color"><span class="keyword_color">elif</span> points > <span
                                        class="number_color">80</span> <span
                                        class="keyword_color">and</span> points < <span class="number_color">131</span>:</span><br>
                                &emsp;<span class="code_color">result += <span class="string_color">"Sehr gut! Sie haben ein Ferngesteuertes Auto gewonnen!"</span></span><br>
                                <span class="code_color"><span class="keyword_color">elif</span> points > <span
                                        class="number_color">130</span> <span
                                        class="keyword_color">and</span> points < <span class="number_color">171</span>:</span><br>
                                &emsp;<span class="code_color">result += <span class="string_color">"Oh schade, diesmal gibt es keinen Preis."</span></span><br>
                                <span class="code_color"><span class="keyword_color">elif</span> points > <span
                                        class="number_color">170</span> <span
                                        class="keyword_color">and</span> points < <span class="number_color">201</span>:</span><br>
                                &emsp;<span class="code_color">result += <span class="string_color">"Sehr gut! Sie haben ein Puzzle gewonnen!"</span></span><br><br>
                                <span class="comments_color"># Hiermit wird der Wert der Variable 'result' ausgegeben</span><br><br>
                                <span class="method_color">print</span><span class="code_color">(result)</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <p></p>
            <div class="alert alert-success _alert " role="alert" id="correct_1" style="display: none">
                Klasse! Sie haben den richtigen Preis korrekt ausgegeben!
            </div>
            <div class="alert alert-danger _alert " role="alert" id="wrong_1" style="display: none">
                Schade, der Preis oder die Nachricht ist leider nicht korrekt!
            </div>
            <p></p>
            <h5>Output:</h5>
            <div class="description_container">
                <pre id="output"></pre>
            </div>
            <p></p>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_2_conditional_statements' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_2_while_loop' %}
{% endblock lesson_nav_buttons_next_page %}