{% extends 'template_pages/python_lesson_base.html' %}
{% load static %}

{% block lesson_2_variables_submenu_active %}
    sidebar_active
{% endblock lesson_2_variables_submenu_active %}

{% block lesson_2_exercises_variables_active %}
    sidebar_active
{% endblock lesson_2_exercises_variables_active %}

{% block sidebar_page_content %}
    <!-- Identifier for submenu logic -->
    <div id="submenu_identifier" style="display: none">variables_submenu_link</div>

    <!-- Key for localStorage -->
    <div id="local_storage_key" style="display: none">exercises_variables</div>

    <div class="card">
        <div class="card-body">
            <h1>Aufgabe: Variablen</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Im folgenden Textfeld können Sie sich nun selbst daran versuchen eine Variable zu erstellen, um mit der
            Syntax
            und Funktionsweise in Python vertraut zu werden. Erzeugen Sie bitte eine Variable mit Namen
            <code>integer</code>, deren Wert Sie auf <code>50</code> setzen. Anschließend wird die Variable mithilfe der
            print()-Funktion ausgeben.
            <p></p>
            Wenn Sie ihren Code eingegeben haben können Sie ihn mit einem Klick auf den Button <span
                class="text_highlighted">Run</span> ausführen. Um eine Rückmeldung zu erhalten, ob ihr Code richtig
            ist,
            benutzen Sie bitte den Button <span class="text_highlighted">Test</span>. Falls Sie noch einmal von vorn
            beginnen wollen, oder ausversehen Code der Aufgabe gelöscht haben, dann können Sie die Aufgaben einfach
            mit
            einem Klick auf den Button <span class="text_highlighted">Reset</span> zurücksetzen (Löscht auch Ihren
            Code!). Außerdem wird eine Musterlösung für die Aufgabe durch einen Klick auf den Button <span
                class="text_highlighted">Solution</span> bereitgestellt.
        </div>
    </div>
    <p></p>
    <div class="card">
        <div class="card-body">
            <h5>Bitte Code hier eingeben:</h5>
            <div class="skulpt_code_container">
                <form>
                    <div class="text_area_wrapper">
            <textarea id="custom_code" cols="40" rows="10">
# In folgender Zeile bitte ihren Code eintragen

# Hiermit wird der Wert der Variable 'integer' ausgegeben
print(integer)</textarea>
                    </div>
                    <br/>
                    <div id="skulpt_run_btn">
                        <button type="button" onclick="runit()" class="form-btn btn btn-info my-2 my-sm-0">Run
                        </button>
                        <button type="button" onclick="variables_test_code()"
                                class="form-btn btn btn-info my-2 my-sm-0">Test
                        </button>
                        <button type="button" onclick="reset_skulpt()"
                                class="form-btn btn btn-info my-2 my-sm-0 float-right">Reset
                        </button>
                        <div class="btn-group dropdown float-right">
                            <button type="button"
                                    class="form-btn btn btn-info my-2 my-sm-0 solution_button_spacing"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solution
                            </button>
                            <div class="dropdown-menu dropdown-menu-right solution_dropdown">
                                <span class="comments_color"># In folgender Zeile bitte ihren Code eintragen</span><br><br>
                                <span class="code_color">integer =</span> <span class="number_color">50</span><br><br>
                                <span class="comments_color"># Hiermit wird der Wert der Variable 'integer' ausgegeben</span><br><br>
                                <span class="method_color">print</span><span class="code_color">(integer)</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <p></p>
            <div class="alert alert-success _alert " role="alert" id="correct_1" style="display: none">
                Klasse! Die Variable 'integer' ist korrekt!
            </div>
            <div class="alert alert-danger _alert " role="alert" id="wrong_1" style="display: none">
                Schade, die Variable 'integer' ist leider nicht korrekt!
            </div>
            <p></p>
            <h5>Output:</h5>
            <div class="description_container">
                <pre id="output"></pre>
            </div>
            <p></p>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_2_variables' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_2_datatypes' %}
{% endblock lesson_nav_buttons_next_page %}