{% extends 'template_pages/python_lesson_base.html' %}
{% load static %}

{% block python_lesson_functions_submenu_active %}
    sidebar_active
{% endblock python_lesson_functions_submenu_active %}

{% block python_lesson_exercises_functions_active %}
    sidebar_active
{% endblock python_lesson_exercises_functions_active %}

{% block sidebar_page_content %}
    <!-- Identifier for submenu logic -->
    <div id="submenu_identifier" style="display: none">functions_submenu_link</div>

    <!-- Key for localStorage -->
    <div id="local_storage_key" style="display: none">exercises_functions</div>

    <div class="card">
        <div class="card-body">
            <h1>Aufgabe: Funktionen</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Nun sollen Sie die erste größere Aufgabe dieser Lektion bearbeiten. Dafür implementieren Sie bitte das
            Sortierverfahren <a href="https://de.wikipedia.org/wiki/Bubblesort" target="_blank"><span
                class="link_color">Bubblesort</span></a>, welches eine gegebene Liste in die richtige Reihenfolge
            bringen soll (Zahlenwerte aufsteigend sortiert).
            <p></p>
            Bei Bubblesort wird jeweils in Runden für jedes benachbarte Paar von Elementen getestet, ob diese
            vertauscht
            werden müssen. Sobald mindestens eine Vertauschung notwendig war, beginnt eine neue Runde. War keine
            Vertauschung notwendig, dann ist die Liste korrekt sortiert.
            <p></p>
            <div class="text-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Bubble-sort-example-300px.gif"
                     alt="Bubble-sort-example-300px.gif" width="300" height="180"><br>Von <a
                    href="//commons.wikimedia.org/w/index.php?title=User:Swfung8&amp;action=edit&amp;redlink=1"
                    class="new" title="User:Swfung8 (page does not exist)" target="_blank"><span class="link_color">Swfung8</span></a>-<span
                    class="int-own-work" lang="de">Eigenes Werk</span>,<a
                    href="https://creativecommons.org/licenses/by-sa/3.0"
                    title="Creative Commons Attribution-Share Alike 3.0" target="_blank"><span class="link_color">CC BY-SA 3.0</span></a>,<a
                    href="https://commons.wikimedia.org/w/index.php?curid=14953478" target="_blank"><span
                    class="link_color">Link</span></a>
            </div>
            <p></p>
            Seinen Namen hat das Sortierverfahren der Bewegung der größeren Elemente nach und nach von links nach
            rechts
            zu verdanken. Sie steigen somit ähnlich wie Blasen im Wasser nach oben.
            <p></p>
            Erstellen Sie nun also eine Funktion <code>def bubblesort(unordered_list):</code> und implementieren Sie das
            Sortierverfahren in dieser. Die Funktion soll die sortierte Liste abschließend zurückgeben.
            <p></p>
            Wenn Sie ihren Code eingegeben haben können Sie ihn mit einem Klick auf den Button <span
                class="text_highlighted">Run</span> ausführen. Um eine Rückmeldung zu erhalten, ob ihr Code richtig
            ist,
            benutzen Sie bitte den Button <span class="text_highlighted">Test</span>. Falls Sie noch einmal von vorn
            beginnen wollen, oder ausversehen Code der Aufgabe gelöscht haben, dann können Sie die Aufgaben einfach
            mit
            einem Klick auf den Button <span class="text_highlighted">Reset</span> zurücksetzen (Löscht auch Ihren
            Code!). Außerdem wird eine Musterlösung für die Aufgabe durch einen Klick auf den Button <span
                class="text_highlighted">Solution</span> bereitgestellt.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Pseudocode</h3>
            unordered := True<br>
            WHILE unordered:<br>
            &emsp;unordered := False<br>
            &emsp;FOR counter := TO LENGTH(list) - 1 DO<br>
            &emsp;&emsp;IF counter < LENGTH(list) - 1<br>
            &emsp;&emsp;THEN IF list[counter] > list[counter + 1]<br>
            &emsp;&emsp;&emsp;&emsp;&ensp;THEN temp := list[counter]<br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;list[counter] := list[counter + 1]<br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;list[counter + 1] := temp<br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;unordered := True

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="text_area_wrapper">
            <textarea id="functions_lists_code" cols="40" rows="8">
# Diese Listen werden zum Testen verwendet
unordered_list1 = [10, 8, 12, 2, 5, 3, 27, 102, 23, 14, 35, 100]
unordered_list2 = [13, 120, 17, 6, 7, 9, 224, 125, 76, 89, 58, 43]
unordered_list3 = [323, 25, 4, 5, 7, 6, 122, 23, 22, 17, 58, 33]
unordered_list4 = [5, 6, 45, 67, 78, 122, 164, 899, 1003, 2456, 14609, 203789]

</textarea>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5>Bitte Code hier eingeben:</h5>
            <div class="skulpt_code_container">
                <form>
                    <div class="text_area_wrapper">
            <textarea id="custom_code" cols="40" rows="10">
# In den folgenden Zeile bitte ihren Code eintragen



# Hiermit werden die Listen ausgegeben
print(bubblesort(unordered_list1))
print(bubblesort(unordered_list2))
print(bubblesort(unordered_list3))
print(bubblesort(unordered_list4))
</textarea>
                    </div>
                    <br/>
                    <div id="skulpt_run_btn">
                        <button type="button" onclick="runit()" class="form-btn btn btn-info my-2 my-sm-0">Run
                        </button>
                        <button type="button" onclick="functions_test_code()" class="form-btn btn btn-info my-2 my-sm-0">
                            Test
                        </button>
                        <button type="button" onclick="reset_skulpt()"
                                class="form-btn btn btn-info my-2 my-sm-0 float-right">Reset
                        </button>
                        <div class="btn-group dropdown float-right">
                            <button type="button"
                                    class="form-btn btn btn-info my-2 my-sm-0 solution_button_spacing"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solution
                            </button>
                            <div class="dropdown-menu dropdown-menu-right solution_dropdown">
                                <span class="comments_color"># In den folgenden Zeile bitte ihren Code eintragen</span><br><br>
                                <span class="code_color"><span class="keyword_color">def</span> <span class="method_color">bubblesort</span>(unordered_list):</span><br>
                                &emsp;&emsp;<span class="code_color">unordered =</span> <span
                                    class="keyword_color">True</span><br><br>
                                &emsp;&emsp;<span class="keyword_color">while </span><span class="code_color">unordered:</span><br>
                                &emsp;&emsp;&emsp;<span class="code_color">unordered = </span><span
                                    class="keyword_color">False</span><br><br>
                                &emsp;&emsp;&emsp;<span class="code_color"><span class="keyword_color">for</span> counter <span
                                    class="keyword_color">in</span> <span class="method_color">range</span>(<span
                                    class="method_color">len</span>(unordered_list) - <span
                                    class="number_color">1</span>):</span><br>
                                &emsp;&emsp;&emsp;&emsp;<span class="container"><span
                                    class="keyword_color">if</span> counter < <span class="method_color">len</span>(unordered_list) - <span
                                    class="number_color">1</span>:</span><br>
                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="code_color"><span class="keyword_color">if</span> unordered_list[counter] > unordered_list[counter + <span
                                    class="number_color">1</span>]:</span><br>
                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span
                                    class="code_color">temp = unordered_list[counter]</span><br>
                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="code_color">unordered_list[counter] = unordered_list[counter + <span
                                    class="number_color">1</span>]</span><br>
                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="code_color">unordered_list[counter + <span
                                    class="number_color">1</span>] = temp</span><br>
                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="code_color">unordered = <span
                                    class="keyword_color">True</span></span><br><br>
                                &emsp;&emsp;<span class="code_color"><span class="keyword_color">return</span> unordered_list</span><br><br>
                                <span class="comments_color"># Hiermit werden die Listen ausgegeben</span><br><br>
                                <span class="method_color">print</span><span class="code_color">(bubblesort(unordered_list1))</span><br>
                                <span class="method_color">print</span><span class="code_color">(bubblesort(unordered_list2))</span><br>
                                <span class="method_color">print</span><span class="code_color">(bubblesort(unordered_list3))</span><br>
                                <span class="method_color">print</span><span class="code_color">(bubblesort(unordered_list4))</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <p></p>
            <div class="alert alert-success _alert " role="alert" id="correct_1" style="display: none">
                Klasse! Die Liste unordered_list1 wurde korrekt sortiert!
            </div>
            <div class="alert alert-danger _alert " role="alert" id="wrong_1" style="display: none">
                Schade, unordered_list1 ist leider nicht korrekt sortiert!
            </div>
            <div class="alert alert-success _alert " role="alert" id="correct_2" style="display: none">
                Klasse! Die Liste unordered_list2 wurde korrekt sortiert!
            </div>
            <div class="alert alert-danger _alert " role="alert" id="wrong_2" style="display: none">
                Schade, unordered_list2 ist leider nicht korrekt sortiert!
            </div>
            <div class="alert alert-success _alert " role="alert" id="correct_3" style="display: none">
                Klasse! Die Liste unordered_list3 wurde korrekt sortiert!
            </div>
            <div class="alert alert-danger _alert " role="alert" id="wrong_3" style="display: none">
                Schade, unordered_list3 ist leider nicht korrekt sortiert!
            </div>
            <div class="alert alert-success _alert " role="alert" id="correct_4" style="display: none">
                Klasse! Die Liste unordered_list4 wurde korrekt sortiert!
            </div>
            <div class="alert alert-danger _alert " role="alert" id="wrong_4" style="display: none">
                Schade, unordered_list4 ist leider nicht korrekt sortiert!
            </div>
            <p></p>
            <h5>Output:</h5>
            <div class="description_container">
                <pre id="output"></pre>
            </div>
            <p></p>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_2_functions' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_2_recursion' %}
{% endblock lesson_nav_buttons_next_page %}