{% extends 'template_pages/lesson_2_base.html' %}
{% load static %}

{% block lesson_2_datatypes_active %}
    sidebar_active
{% endblock lesson_2_datatypes_active %}

{% block sidebar_page_content %}
    <h1>Datentypen</h1>
    <p>
        Ein Datentyp bezeichnet die Zusammenfassung konkreter Wertebereiche und die darauf definierten Operationen zu
        einer Einheit. Somit können Variablen von einem bestimmten Typ sein, woraus sich dann die Möglichkeiten ergeben,
        wie diese verwendet werden können bzw. welche Operationen mithilfe oder auf dieser Variable ausgeführt werden
        dürfen. In Python wird die sogenannte <span class="text_highlighted">dynamische Typisierung</span> verwendet,
        somit erfolgt die Typzuteilung der Variablen zur Laufzeit eines Programms durch das Laufzeitsystem. Dies
        bedeutet, dass der Wert einer Variable auch gleichzeitig ihren Typ bestimmt. Der Typ einer Variable kann
        außerdem mithilfe einer speziellen Funktion in einen anderen umgewandelt werden.
    </p>
    <h3>Numerische Datentypen</h3>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Bezeichner</th>
            <th scope="col">Bedeutung</th>
            <th scope="col">Konvertierung</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Integer</th>
            <td>Ganzzahl</td>
            <td>Funktion int()</td>
        </tr>
        <tr>
            <th scope="row">Long Integer</th>
            <td>Ganzzahl mit beliebiger Länge</td>
            <td>Funktion long()</td>
        </tr>
        <tr>
            <th scope="row">Float</th>
            <td>Gleitkommazahl</td>
            <td>Funktion float()</td>
        </tr>
        <tr>
            <th scope="row">Komplexe Zahlen</th>
            <td>als zwei Fließkommazahlen dargestellt</td>
            <td>Funktion complex()</td>
        </tr>
        <tr>
            <th scope="row">Boolescher Typ</th>
            <td>Wahrheitswert</td>
            <td>Funktion bool()</td>
        </tr>
        </tbody>
    </table>
    <p>
        Der boolesche Datentyp wird zu den numerischen Datentypen gezählt, da alle arithmetischen Operationen, die im
        Abschnitt <a href="{% url 'lesson_2_operators' %}"><span class="link_color">Operatoren</span></a> definiert
        sind, angewendet werden können. Außerdem können zusätzlich auch noch die logischen Operatoren <span
            class="text_highlighted">not</span>, <span class="text_highlighted">and</span> und <span
            class="text_highlighted">or</span> auf booleschen Variablen angewendet werden.
    </p>
    <div class="text-center">
        <img src="{% static 'pictures/lesson_2/python_datatypes_example.PNG' %}" class="rounded"
             alt="Example of a python datatypes">
    </div>
    <p></p>
    <h3>Weitere Datentypen</h3>
    <p>
        Es werden noch weitere Datentypen in kommenden Abschnitten erläutert werden, die komplexer sind und die
        Erklärung somit einer eigenen Seite bedarf.
    </p>
    <h3>Hilfreiche Links</h3>
    <ul>
        <li>
            <a href="http://public.beuth-hochschule.de/~rweis/vorlesungen/Betriebssysteme/WeisPythonDatentypen.pdf"
               target="_blank"><span class="link_color">Python Datentypen 1</span></a>
        </li>
        <li>
            <a href="https://www.hdm-stuttgart.de/~maucher/Python/html/Datentypen.html" target="_blank"><span
                    class="link_color">Python Datentypen 2</span></a>
        </li>
        <li>
            <a href="https://de.wikipedia.org/wiki/Datentyp" target="_blank"><span
                    class="link_color">Wikipedia Datentyp</span></a>
        </li>
    </ul>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_2_variables' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_2_strings' %}
{% endblock lesson_nav_buttons_next_page %}