{% extends 'template_pages/lesson_2_base.html' %}
{% load static %}

{% block lesson_2_introduction_active %}
    sidebar_active
{% endblock lesson_2_introduction_active %}

{% block sidebar_page_content %}
    <!-- Sidebar scroll anchor -->
    <div id="scroll_anchor" style="display: none">top</div>

    <div class="card">
        <div class="card-body">
                <h1>Einführung</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            In Lektion 2 wiederholen Sie die in Lektion 1 erlernten Konstrukte sowie deren Syntax in der
            Programmiersprache
            Python. Außerdem werden einige neue Konstrukte eingeführt, die Ihren Wissenstand und Ihr
            Konstrukt-Repertoire
            noch erweitern werden. Am Ende dieser Lektion sollen Sie in der Lage sein kleine bis mittelgroße
            Programme
            selbst entwickeln zu können, sodass Sie die Aufgaben in Lektion 3 selbstständig in Ihrer IDE bearbeiten
            können.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Python</h3>
            Python ist eine multiparadigmatische (funktional, objektorientiert, etc.), üblicherweise interpretierte
            höhere
            Programmiersprache. Sie wurde im Jahre 1990 von Guido van Rossum am Centrum Wiskunde & Informatica in
            Amsterdam
            entwickelt. Die Erscheinung datiert anschließend auf das Jahr 1991. Sie wird momentan in zwei
            unterschiedlichen
            Versionen unterstützt: 2.x bzw. 3.x (.x steht hierbei für eine beliebige Zahl, z.B. 3.7.2). Die Aufgaben
            (und
            auch diese Website) wurden mithilfe der Version 3.x erstellt, deshalb wird auch empfohlen für Lektion 3
            eben
            diese Version zu benutzen.
            <p></p>
            <ul>
                <li>
                    <a href="https://de.wikipedia.org/wiki/Python_(Programmiersprache)" target="_blank"><span
                            class="link_color">Wikipedia Python</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Dokumentation</h3>
            Eines der wichtigsten Arbeitsmittel eines Programmierers ist die sogenannte Dokumentation, in der
            nachgelesen werden
            kann, wie die Software funktioniert, was zum Betrieb erforderlich ist und auf welchen Grundlagen sie
            entwickelt
            wurde. Sie ist sozusagen das erste Nachschlagewerk, falls ein Begriff oder Ähnliches unklar sein sollte
            oder man
            sich über etwas informieren möchte.
            <p></p>
            <ul>
                <li>
                    <a href="https://docs.python.org/2.7/" target="_blank"><span
                            class="link_color">Python Dokumentation 2.7</span></a>
                </li>
                <li>
                    <a href="https://docs.python.org/3.7/" target="_blank"><span
                            class="link_color">Python Dokumentation 3.7</span></a>
                </li>
            </ul>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons %}
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'lesson_2_structuring' %}" class="form-btn btn btn-success my-2 my-sm-0">
            Next
        </a>
    </div>
{% endblock lesson_nav_buttons %}