{% extends 'template_pages/lesson_2_base.html' %}
{% load static %}

{% block lesson_2_print_active %}
    sidebar_active
{% endblock lesson_2_print_active %}

{% block sidebar_page_content %}
    <div class="card">
        <div class="card-body">
            <h1>Print-Funktion</h1>
        </div>
    </div>
    <div id="load_animation_div" style="visibility: hidden">
        <div class="card aniview" data-av-animation="fadeInRightBig">
            <div class="card-body">
                Jedes Computer-Programm muss mit seiner Umwelt in Kontakt treten. Dazu bietet fast jede
                Programmiersprache
                sogenannte I/O-Funktionalität, also Input/Output-Funktionalität. Hierunter zählen z.B. das Einlesen von
                Daten
                aus Dateien oder die Ausgabe von Daten durch Feedback auf dem Bildschirm. In unseren Programmen
                beschäftigen wir
                uns prinzipiell erst einmal nur mit der Ausgabe und dem Einlesen in bzw. von der Konsole. Hierzu stellt
                Python
                die sogenannte Print-Funktion bereit (in Python2 Print-Anweisung). Diese Funktion lässt uns beliebige
                Werte in
                der Konsole ausgeben.
                <p></p>
                Wir benutzen die Funktion, indem wir beliebig viele Werte, die wir in der Konsole ausgeben wollen, durch
                Komma
                voneinander getrennt, in die Klammern des Funktionsaufrufs <span class="text_highlighted">print()</span>
                einsetzen. Die Werte werden anschließend standardmäßig durch ein Leerzeichen getrennt. Diese
                Trennzeichen kann
                man mithilfe von <span class="text_highlighted">sep=""</span> ändern. Ebenfalls wird am Ende des
                Print-Aufrufs
                standardmäßig ein Zeilenumbruch mittels <span class="text_highlighted">\n</span> eingefügt. Dieses
                Verhalten
                kann man mithilfe von <span class="text_highlighted">end=""</span> ändern. Falls Sie an weiteren
                Möglichkeiten
                der Formatierung der Ausgaben interessiert sind, dann können Sie sich im zweiten Link <span
                    class="link_color"><a href="https://thomas-cokelaer.info/tutorials/python/print.html"
                                          target="_blank"><span
                    class="link_color">Python Print und Formatierung</span></a></span> belesen.
                <p></p>
                <div class="text-center">
                    <img src="{% static 'pictures/lesson_2/python_print_example.PNG' %}" class="rounded"
                         alt="Example of print function in python">
                </div>
                <p></p>
            </div>
        </div>
        <div class="card aniview" data-av-animation="fadeInLeftBig">
            <div class="card-body">
                <h3>Hilfreiche Links</h3>
                <ul>
                    <li>
                        <a href="https://www.python-kurs.eu/python3_print.php" target="_blank"><span
                                class="link_color">Python Print</span></a>
                    </li>
                    <li>
                        <a href="https://thomas-cokelaer.info/tutorials/python/print.html" target="_blank"><span
                                class="link_color">Python Print und Formatierung</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <p></p>
    </div>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_2_operators_precedence' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_2_exercises_print' %}
{% endblock lesson_nav_buttons_next_page %}