{% extends 'template_pages/lesson_2_base.html' %}
{% load static %}

{% block lesson_2_strings_active %}
    sidebar_active
{% endblock lesson_2_strings_active %}

{% block sidebar_page_content %}
    <h1>Strings</h1>
    <p>
        Ein String gehört zu den sogenannten sequentiellen Datentypen. Diese enthalten eine Folge von gleichartigen
        oder verschiedenartigen Elementen, welche eine definierte Reihenfolge aufweisen. Aus diesem Grund kann man
        mithilfe von Indices auf die Elemente, die in einem sequentiellen Datentyp gespeichert sind, zugreifen. Ein
        String im Speziellen ist eine Zeichenkette, die durch das in Anführungszeichen setzen von Zeichen erzeugt
        werden.
    </p>
    <div class="text-center">
        <img src="{% static 'pictures/lesson_2/string_indices_example.PNG' %}" class="rounded"
             alt="Example of the indices of a string">
    </div>
    <p></p>
    <p>
        Wie man in obiger Abbildung gut erkennen kann, werden die Elemente mit 0 beginnend, von links nach rechts,
        indexiert. Man kann auf einen sequentiellen Datentyp allerdings auch von rechts beginnend nach links zugreifen,
        woraus sich dann eine Indexierung von -1 absteigend ergibt. Somit kann man jedes Element direkt einzeln
        ansprechen.
    </p>
    <div class="text-center">
        <img src="{% static 'pictures/lesson_2/python_strings_example.PNG' %}" class="rounded"
             alt="Example of a string in python">
    </div>
    <p></p>
    <p>
        Es gibt einige Möglichkeiten, was man mit Strings im Speziellen bzw. sequentiellen Datentypen im Allgemeinen
        alles anstellen kann. Um eine Zusammenfassung über die Möglichkeiten zu erhalten, können Sie sich den ersten
        Link <a href="https://www.tutorialspoint.com/python/python_strings.htm" target="_blank"><span
            class="link_color">Python Strings 1</span></a> ansehen.
    </p>
    <h3>Aufgabe</h3>
    <div class="description_container">
        Erzeugen Sie bitte eine Variable mit Namen <span class="text_highlighted">test_string</span>, deren Wert Sie auf
        <span class="text_highlighted">Hallo, Welt!</span> setzen. Anschließend erzeugen Sie bitte drei weitere
        Variablen mit den Namen <span class="text_highlighted">a</span>, <span class="text_highlighted">b</span> und
        <span class="text_highlighted">c</span>. Weißen Sie <span class="text_highlighted">a</span> bitte den Wert des
        sechsten Elements, <span class="text_highlighted">b</span> den Wert des zweiten Elements und <span
            class="text_highlighted">c</span> den Wert des letzten Elements zu. Wenn Sie ihren Code eingegeben haben
        können Sie ihn mit einem Klick auf den Button <span class="text_highlighted">Run</span> testen. Um eine
        Rückmeldung zu erhalten, ob ihr Code richtig ist, benutzen Sie bitte den Button <span class="text_highlighted">Test</span>.
    </div>
    <p></p>
    <h5>Bitte Code hier eingeben:</h5>
    <div class="skulpt_code_container">
        <form>
            <textarea id="custom_code" cols="40" rows="10">
# In den folgenden Zeilen bitte ihren Code eintragen



# Hiermit wird der Wert der Variablen ausgegeben
print(test_string)
print(a)
print(b)
print(c)</textarea>
            <br/>
            <div id="skulpt_run_btn">
                <button type="button" onclick="runit()" class="form-btn btn my-2 my-sm-0">Run</button>
                <button type="button" onclick="strings_test_code()" class="form-btn btn my-2 my-sm-0">Test</button>
            </div>
        </form>
        <p></p>
        <div class="alert alert-success" role="alert" id="correct" style="display: none">
            Klasse! Dein Code war richtig!
        </div>
        <div class="alert alert-danger" role="alert" id="wrong" style="display: none">
            Schade, dein Code war leider nicht richtig! Versuche es noch einmal!
        </div>
        <p></p>
    </div>
    <h5>Output:</h5>
    <div class="description_container">
        <pre id="output"></pre>
    </div>
    <p></p>
    <h3>Hilfreiche Links</h3>
    <ul>
        <li>
            <a href="https://www.tutorialspoint.com/python/python_strings.htm" target="_blank"><span class="link_color">Python Strings 1</span></a>
        </li>
        <li>
            <a href="https://www.python-kurs.eu/python3_sequentielle_datentypen.php" target="_blank"><span
                    class="link_color">Python Strings 2</span></a>
        </li>
        <li>
            <a href="https://de.wikipedia.org/wiki/Zeichenkette" target="_blank"><span class="link_color">Wikipedia String</span></a>
        </li>
    </ul>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_2_datatypes' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_2_operators' %}
{% endblock lesson_nav_buttons_next_page %}