header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

.w-100 {
    margin-top: 200px;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }

    header video {
        display: none;
    }
}

html, body, section {
    height: 100%;
}

.split_container {
    display: table;
    height: 50%;
    width: 100%;
}

.split_screen {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding: 1rem;
}

.table_cell_margin {
    margin-right: 20px;
    margin-left: 20px;
}

@media (max-width: 942px) {
    .split_screen {
        width: 100%;
    }

    .to_hide {
        display: none;
    }
}

#footer_wrapper {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1e2933;
}

.link_color {
    color: white;
}

.spacing_left {
    margin-right: 80px;
}

.spacing_right {
    margin-left: 80px;
}

.align_horizontal_container {
    display: inline-block;
}

.align_horizontal {
    display: inline;
}

.header_bar {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    color: #a8a8a8;
}

a:hover {
    color: white;
}

.navbar-nav {
    width: 100%;
}

.navbar_inverted_spacing {
    margin-top: -32px;
    margin-right: 20px;
}

.logged_out_buttons_spacing {
    margin-right: 14px;
    margin-top: -6px;
}

@media (max-width: 700px) {
    .spacing_left {
        margin-right: 5px;
    }

    .spacing_right {
        margin-left: 5px;
    }
}

@media (max-width: 534px) {
    .navbar_inverted_spacing {
        margin-top: 10px;
    }
}



