{% extends 'template_pages/lesson_2_base.html' %}
{% load static %}

{% block lesson_2_exercises_print_active %}
    sidebar_active
{% endblock lesson_2_exercises_print_active %}

{% block sidebar_page_content %}
    <!-- Key for localStorage -->
    <div id="local_storage_key" style="display: none">exercises_print</div>

    <!-- Sidebar scroll anchor -->
    <div id="scroll_anchor" style="display: none">50%</div>

    <div class="card">
        <div class="card-body">
            <h1>Aufgabe: Print-Funktion</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Geben Sie bitte zuerst die Variablen <span class="text_highlighted">one</span> und <span
                class="text_highlighted">two</span> mithilfe der Print-Funktion standardmäßig in einem
            Funktionsaufruf aus.
            Anschließend sollen die Variablen <span class="text_highlighted">one</span> und <span
                class="text_highlighted">three</span>
            mit einem <span class="text_highlighted">& (und)</span> getrennt ausgegeben werden. Zum Schluss soll
            dann noch
            die Variable <span class="text_highlighted">one</span> mit einem <span class="text_highlighted">!</span>
            am Ende
            ausgegeben werden, ohne Zeilenumbruch.
            <p></p>
            <div class="alert alert-primary" role="alert">
                Die Reihenfolge der Ausgabe ist wichtig! Also arbeiten Sie die Aufgabe bitte von oben nach unten durch
                und geben Sie bitte das Geforderte auch in dieser Reihenfolge aus!
            </div>
            Wenn Sie ihren Code eingegeben haben können Sie ihn mit einem Klick auf den Button <span
                class="text_highlighted">Run</span> testen. Um eine Rückmeldung zu erhalten, ob ihr Code richtig
            ist,
            benutzen Sie bitte den Button <span class="text_highlighted">Test</span>. Falls Sie noch einmal von vorn
            beginnen wollen, oder ausversehen Code der Aufgabe gelöscht haben, dann können Sie die Aufgaben einfach mit
            einem Klick auf den Button <span class="text_highlighted">Reset</span> zurücksetzen.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5>Bitte Code hier eingeben:</h5>
            <div class="skulpt_code_container">
                <form>
                    <div class="text_area_wrapper">
            <textarea id="custom_code" cols="40" rows="10">
# Hier werden die Variablen erzeugt
one = "Variable"
two = 10
three = 3.5
# Geben Sie nun die Variablen den Anweisungen folgend aus


</textarea>
                    </div>
                    <br/>
                    <div id="skulpt_run_btn">
                        <button type="button" onclick="runit()" class="form-btn btn btn-info my-2 my-sm-0">Run</button>
                        <button type="button" onclick="print_test_code()" class="form-btn btn btn-info my-2 my-sm-0">Test
                        </button>
                        <button type="button" onclick="reset_skulpt()" class="form-btn btn btn-info my-2 my-sm-0 float-right">Reset
                        </button>
                    </div>
                </form>
            </div>
            <p></p>
            <div class="alert alert-success _alert" role="alert" id="correct_1" style="display: none">
                Klasse! Zeile 1 ist korrekt!
            </div>
            <div class="alert alert-success _alert" role="alert" id="correct_2" style="display: none">
                Klasse! Zeile 2 ist korrekt!
            </div>
            <div class="alert alert-success _alert" role="alert" id="correct_3" style="display: none">
                Klasse! Zeile 3 ist korrekt
            </div>
            <div class="alert alert-danger _alert" role="alert" id="wrong_1" style="display: none">
                Schade, Zeile 1 ist leider nicht korrekt!
            </div>
            <div class="alert alert-danger _alert" role="alert" id="wrong_2" style="display: none">
                Schade, Zeile 2 ist leider nicht korrekt!
            </div>
            <div class="alert alert-danger _alert" role="alert" id="wrong_3" style="display: none">
                Schade, Zeile 3 ist leider nicht korrekt!
            </div>
            <p></p>
            <h5>Output:</h5>
            <div class="description_container">
                <pre id="output"></pre>
            </div>
            <p></p>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_2_print' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_2_input' %}
{% endblock lesson_nav_buttons_next_page %}