{% extends 'template_pages/blockly_games_base.html' %}
{% load static %}

{% block lesson_1_blockly_games_puzzle_active %}
    sidebar_active
{% endblock lesson_1_blockly_games_puzzle_active %}

{% block blockly_games_inject_frame %}
    <div id="loading_screen">
        <div class="loading_icon_center" id="loading_icon">
            <img src="{% static 'pictures/lesson_1/loading_icon.gif' %}" alt="loading icon">
        </div>
        <div class="embed-responsive embed-responsive-16by9 blockly_games_frame">
            <iframe class="embed-responsive-item" src="{% url 'puzzle' %}" onload="show_iframe()"
                    style="visibility: hidden" id="blockly_games_iframe"></iframe>
        </div>
    </div>

    <div id="mobile_blockly_games" style="display: none">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    Mobile devices follow the provided link below to play the games:
                    <p></p>
                    <a href="{% url 'puzzle' %}" target="_blank" class="btn btn-primary">Puzzle Link</a>
                </div>
            </div>
        </div>
    </div>
    <p></p>
{% endblock blockly_games_inject_frame %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_1_blockly_games_explanation' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_1_labyrinth_preparation' %}
{% endblock lesson_nav_buttons_next_page %}