{% extends 'template_pages/blockly_lesson_base.html' %}
{% load static %}

{% block lesson_1_bird_submenu_active %}
    sidebar_active
{% endblock lesson_1_bird_submenu_active %}

{% block lesson_1_conditional_statements_addition_active %}
    sidebar_active
{% endblock lesson_1_conditional_statements_addition_active %}

{% block sidebar_page_content %}
    <!-- Identifier for submenu logic -->
    <div id="submenu_identifier" style="display: none">bird_submenu_link</div>

    <div class="card">
        <div class="card-body">
            <h1>Bedingte Anweisungen: Zusatz</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Sie haben <a href="{% url 'lesson_1_conditional_statements' %}"><span class="link_color">bedingte Anweisungen</span></a>
            und ihre Funktionsweise bereits kennenlernen dürfen. Nun wird dieses Konstrukt um einen <span
                class="text_highlighted">else if-Teil (elif in Python)</span> erweitert. Mit diesem kleinen Zusatz
            können Sie mehrere unterschiedliche Bedingungen innerhalb eines einzelnen if-Blocks abarbeiten, ohne
            jedesmal einen neuen if-Block benutzen zu müssen.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_example_conditional_statement_addition_configuration.PNG' %}"
                     class="rounded" alt="else if addition">
            </div>
            <p></p>
            Wie sie hier erkennen können, dürfen Sie die bedingte Anweisung mit einem Klick auf den blauen Button
            beliebig anpassen. Außerdem können Sie nun die im vorherigen Abschnitt erlernten Variablen benutzen, um
            die
            Bedingung selbst zu erstellen und nicht mehr die vorgefertigten Anweisungen (z.B. is path to the left)
            verwenden zu müssen, z.B.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_example_conditional_statement_addition_condition.PNG' %}"
                     class="rounded" alt="new condition block">
            </div>
            <p></p>
            Wenn Sie diesen Block nun als Bedingung in einer if-Anweisung verwenden würden, dann würde dies einfach
            <span
                    class="text_highlighted">wenn x kleiner als 50 ist</span> bedeuten.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_example_conditional_statements_addition_example.PNG' %}"
                     class="rounded" alt="example if else if else">
            </div>
            <p></p>
            Der erste Teil <span class="text_highlighted">if -> do</span> würde ausgeführt werden, wenn <span
                class="text_highlighted">x kleiner als 50 ist</span>. Der Zweite Teil <span
                class="text_highlighted">else if -> do</span>
            würde ausgeführt werden, wenn <span class="text_highlighted">x größer oder gleich 50 ist <u>und</u> y größer 80 ist</span>.
            Der dritte Teil <span class="text_highlighted">else</span> würde nur dann ausgeführt werden, wenn <span
                class="text_highlighted">x größer oder gleich 50 ist <u>und</u> y kleiner oder gleich 80 ist</span>.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2>Hilfreiche Links</h2>
            <ul>
                <li>
                    <a href="https://de.wikipedia.org/wiki/Bedingte_Anweisung_und_Verzweigung" target="_blank"><span
                            class="link_color">Wikipedia Bedingte Anweisungen</span></a>
                </li>
            </ul>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_1_variables' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_1_logic_and' %}
{% endblock lesson_nav_buttons_next_page %}