{% extends 'template_pages/lesson_1_base.html' %}
{% load static %}

{% block lesson_1_labyrinth_submenu_active %}
    sidebar_active
{% endblock lesson_1_labyrinth_submenu_active %}

{% block lesson_1_conditional_statements_active %}
    sidebar_active
{% endblock lesson_1_conditional_statements_active %}

{% block sidebar_page_content %}
    <!-- Identifier for submenu logic -->
    <div id="submenu_identifier" style="display: none">labyrinth_submenu_link</div>

    <div class="card">
        <div class="card-body">
            <h1>Bedingte Anweisungen</h1>
        </div>
    </div>
    <div id="load_animation_div" style="visibility: hidden">
        <div class="card aniview" data-av-animation="fadeInRightBig">
            <div class="card-body">
                Eine bedingte Anweisung (oder Verzweigung) gehört in der Programmierung zu den Kontrollanweisungen. Sie
                stellt einen Programmabschnitt dar, der nur unter bestimmten Bedingungen ausgeführt wird. Die bedingte
                Anweisung besteht aus einer <span class="text_highlighted">Bedingung</span>, und einem <span
                    class="text_highlighted">Code-Abschnitt</span> aus einer oder mehreren Anweisungen. In der Bedingung
                wird überprüft, ob ein bestimmter Zustand zutreffend ist oder nicht (z.B. ob es einen Pfad nach links
                gibt).
                Der Code-Abschnitt enthält anschließend die Anweisungen, die ausgeführt werden sollen, wenn der zu
                überprüfende Zustand in der Bedingung zutreffend ist. Die Anweisungen im Codeabschnitt werden hierbei
                nur
                einmalig ausgeführt. Nachfolgend ist der zugehörige Block in Blockly dargestellt.
                <p></p>
                <div class="text-center">
                    <img src="{% static 'pictures/lesson_1/blockly_example_conditional_statement_if.PNG' %}"
                         class="rounded"
                         alt="if block">
                </div>
                <p></p>
                Die erste Zeile <span class="text_highlighted">if path to the left</span> stellt die Bedingung und die
                zweite Zeile <span class="text_highlighted">do</span> stellt den Code-Abschnitt dar. Dies bedeutet,
                dass die Blöcke/Anweisungen, die im Code-Abschnitt <span class="text_highlighted">do</span> stehen,
                nur dann ausgeführt werden, wenn der Zustand in der Bedingung <span class="text_highlighted">if path to the left</span>
                zutreffend ist, oder allgemein gesagt: wenn die Bedingung zutrifft. Man kann sich dieses Konstrukt als
                <span
                        class="text_highlighted">wenn Bedingung, dann Codeabschnitt</span> vorstellen.
            </div>
        </div>
        <div class="card aniview" data-av-animation="fadeInLeftBig">
            <div class="card-body">
                <h3>sonst-Abschnitt</h3>
                Es gibt noch weitere Formen der bedingten Anweisung, die es erlauben eine Verzweigung noch detaillierter
                zu
                gestalten. In der folgenden Form wird zur bereits bekannten bedingten Anweisung noch ein sonst-Abschnitt
                hinzugefügt. Dieser Abschnitt wird nur dann ausgeführt, wenn die Bedingung <u>nicht</u> zutrifft. Im
                Folgenden der zugehörige Block in Blockly.
                <p></p>
                <div class="text-center">
                    <img src="{% static 'pictures/lesson_1/blockly_example_conditional_statement_if_else.PNG' %}"
                         class="rounded"
                         alt="If else block">
                </div>
                <p></p>
                Die ersten zwei Zeilen funktionieren exakt gleich zur eben kennengelernten Verzweigung. Die dritte
                Zeile <span class="text_highlighted">else</span> stellt den sonst-Abschnitt dar. Dies bedeutet, dass die
                Blöcke/Anweisungen, die in diesem Abschnitt stehen, nur dann ausgeführt werden, wenn die
                Bedingung <span class="text_highlighted">if path is to the right</span> <u>nicht</u> zutrifft.
            </div>
        </div>
        <div class="card aniview" data-av-animation="fadeInRightBig">
            <div class="card-body">
                <h2>Hilfreiche Links</h2>
                <ul>
                    <li>
                        <a href="https://de.wikipedia.org/wiki/Bedingte_Anweisung_und_Verzweigung" target="_blank"><span
                                class="link_color">Wikipedia Bedingte Anweisungen</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <p></p>
    </div>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_1_instructions' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_1_loop' %}
{% endblock lesson_nav_buttons_next_page %}