{% extends 'template_pages/blockly_lesson_base.html' %}
{% load static %}

{% block lesson_1_turtle_submenu_active %}
    sidebar_active
{% endblock lesson_1_turtle_submenu_active %}

{% block lesson_1_counting_loop_active %}
    sidebar_active
{% endblock lesson_1_counting_loop_active %}

{% block sidebar_page_content %}
    <!-- Identifier for submenu logic -->
    <div id="submenu_identifier" style="display: none">turtle_submenu_link</div>

    <div class="card">
        <div class="card-body">
            <h1>Schleifen: Zählschleife</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Bisher haben Sie die Schleifen nur so kennengelernt, dass die Spielfigur eine Aktion ausführt, bis sie
            einen
            Marker auf dem Spielfeld erreicht hat. Mithilfe dieser neuen Schleifenart können Sie Aktionen beliebig
            oft
            (z.B. 3-, 4- oder 5-Mal) ausführen lassen. Sie werden hierfür auch nicht mehr die sogenannte
            while-Schleife
            mit einer Schleifenbedingung verwenden, sondern eine <span class="text_highlighted">for-Schleife</span>.
            Wie
            genau diese funktioniert und was Sie noch alles mit dieser anstellen können, erfahren Sie in späteren
            Kapiteln. Aktuell ist für Sie nur wichtig zu wissen, dass Sie Aktionen nun mehrmals ausführen können,
            ohne
            an eine Schleifenbedingung gebunden zu sein.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_example_counting_loop.PNG' %}" class="rounded"
                     alt="counting loop block">
            </div>
            <p></p>
            Wie Sie hier erkennen, können Sie aus verschiedenen Möglichkeiten auswählen, wie oft der Schleifenblock
            <span class="text_highlighted">do</span> ausgeführt werden soll.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2>Hilfreiche Links</h2>
            <ul>
                <li>
                    <a href="https://de.wikipedia.org/wiki/For-Schleife" target="_blank"><span
                            class="link_color">Wikipedia For-Schleife</span></a>
                </li>
            </ul>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_1_turtle_preparation' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_1_variables_addition' %}
{% endblock lesson_nav_buttons_next_page %}