{% extends 'template_pages/blockly_lesson_base.html' %}
{% load static %}

{% block lesson_1_introduction_active %}
    sidebar_active
{% endblock lesson_1_introduction_active %}

{% block sidebar_page_content %}
    <div class="card">
        <div class="card-body">
            <h1>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScvMs5u5Z3Bo4vy28cNIZQEhsHMSgLLS_IaiTrsQ3m_9Yax-g/viewform?usp=sf_link"
                   target="_blank"><span class="link_color">Link zum Fragebogen</span></a></h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h1>Einführung</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p></p>
            <div class="alert alert-danger" role="alert">
                Es wird dringend davon abgeraten den Browser Internet Explorer zu verwenden, da hierbei erhebliche
                Probleme mit den Aufgaben und Spielen auftreten!
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Für einen Überblick über die Inhalte der Lektion wird ebenfalls ein <a
                href="{% url 'blockly_compendium' %}"><span
                class="link_color">Kompendium der Sprachsyntax</span></a> bereitgestellt. Dort wird auch der äquivalente
            Python-Code zu den Beispielen aufgeführt.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Willkommen zur ersten Lektion von LearnPython! In dieser Lektion werden Sie die grundlegenden
            Konstrukte
            des Programmierens mithilfe eines visuellen Code-Editors, der durch die Bibliothek <a
                href="https://de.wikipedia.org/wiki/Blockly" target="_blank"><span class="link_color">Blockly</span></a>
            bereitgestellt wird, kennen lernen. Im folgenden Video können Sie sich einen Überblick darüber
            verschaffen,
            was <a href="https://de.wikipedia.org/wiki/Blockly" target="_blank"><span
                class="link_color">Blockly</span></a>
            ist.
            <p></p>
            <div class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" controls>
                    <source src="{% static 'videos/lesson_1/blockly_overview.mp4' %}">
                </video>
            </div>
            <p></p>
            Dieses Video ist ein Ausschnitt des auf Youtube bereitgestellten <a
                href="https://www.youtube.com/watch?v=wDJua9hgyZM" target="_blank"><span
                class="link_color">Videos</span></a> von Google Developers. Der hier gewählte Ausschnitt befasst
            sich
            mit einem Überblick über <a href="https://de.wikipedia.org/wiki/Blockly" target="_blank"><span
                class="link_color">Blockly</span></a>.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Auf den folgenden Seiten werden abwechselnd Erklärungen zu einzelnen Blocks und Konstrukten
            bereitgestellt
            sowie Spiele und Aufgaben, die Sie selbstständig lösen sollen. Die Spiele werden ebenfalls von Google
            Developers erstellt und sind auf dieser <a href="https://github.com/google/blockly-games/wiki"
                                                       target="_blank"><span class="link_color">Seite</span></a>
            einsehbar.
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons %}
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'lesson_1_blockly_games_explanation' %}"
           class="form-btn btn btn-dark my-2 my-sm-0">
            Next <i class="fas fa-arrow-right"></i>
        </a>
    </div>
{% endblock lesson_nav_buttons %}