{% extends 'template_pages/lesson_1_base.html' %}
{% load static %}

{% block lesson_1_labyrinth_submenu_active %}
    sidebar_active
{% endblock lesson_1_labyrinth_submenu_active %}

{% block lesson_1_labyrinth_preparation_active %}
    sidebar_active
{% endblock lesson_1_labyrinth_preparation_active %}

{% block sidebar_page_content %}
    <!-- Identifier for submenu logic -->
    <div id="submenu_identifier" style="display: none">labyrinth_submenu_link</div>

    <div class="card">
        <div class="card-body">
            <h1>Labyrinth Spielfeld</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Das nächste Spiel, das Sie absolvieren dürfen, ist ein Labyrinth, in welchem Sie eine Spielfigur mithilfe
            von Blöcken von ihrer Ausgangsposition bis an das Ziel (einem Marker) führen müssen. Im folgenden wird das
            Spielfeld aufgezeigt, damit Sie die Erläuterungen zu den einzelnen Blöcken und Konstrukten in den nächsten
            Abschnitten nachvollziehen können.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_example_labyrinth_game.gif' %}" class="rounded"
                     alt="Labyrinth field">
            </div>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_1_blockly_games_puzzle' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_1_instructions' %}
{% endblock lesson_nav_buttons_next_page %}