{% extends 'template_pages/lesson_1_base.html' %}
{% load static %}

{% block lesson_1_movie_submenu_active %}
    sidebar_active
{% endblock lesson_1_movie_submenu_active %}

{% block lesson_1_movie_preparation_active %}
    sidebar_active
{% endblock lesson_1_movie_preparation_active %}

{% block sidebar_page_content %}
    <!-- Identifier for submenu logic -->
    <div id="submenu_identifier" style="display: none">movie_submenu_link</div>

    <div class="card">
        <div class="card-body">
            <h1>Film-Spielfeld</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Nun dürfen Sie mit dem Erlernten selbstständig einen einfachen Film animieren. Dafür wird Ihnen wieder eine
            Skala mit x- und y-Werten zur Verfügung gestellt sowie eine Fortschrittsanzeige von 0-100. Sie müssen dann
            die verschiedenen Gliedmaßen einer Figur, abhängig von der verstrichenen Zeit, bewegen.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_example_movie_game.gif' %}" class="rounded"
                     alt="movie field">
            </div>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_1_blockly_games_turtle' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_1_blockly_games_movie' %}
{% endblock lesson_nav_buttons_next_page %}
