{% extends 'template_pages/blockly_lesson_base.html' %}
{% load static %}

{% block blockly_lesson_solutions_games_active %}
    sidebar_active
{% endblock blockly_lesson_solutions_games_active %}

{% block sidebar_page_content %}
    <div class="card">
        <div class="card-body">
            <h1>Musterlösung</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Labyrinth</h3>
            <h5>Level 1</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/labyrinth_level_1.PNG' %}"
                     class="img-fluid"
                     alt="labyrinth level 1 solution">
            </div>
            <p></p>
            <h5>Level 2</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/labyrinth_level_2.PNG' %}"
                     class="img-fluid"
                     alt="labyrinth level 2 solution">
            </div>
            <p></p>
            <h5>Level 3</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/labyrinth_level_3.PNG' %}"
                     class="img-fluid"
                     alt="labyrinth level 3 solution">
            </div>
            <p></p>
            <h5>Level 4</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/labyrinth_level_4.PNG' %}"
                     class="img-fluid"
                     alt="labyrinth level 4 solution">
            </div>
            <p></p>
            <h5>Level 5</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/labyrinth_level_5.PNG' %}"
                     class="img-fluid"
                     alt="labyrinth level 5 solution">
            </div>
            <p></p>
            <h5>Level 6</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/labyrinth_level_6.PNG' %}"
                     class="img-fluid"
                     alt="labyrinth level 6 solution">
            </div>
            <p></p>
            <h5>Level 7</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/labyrinth_level_7.PNG' %}"
                     class="img-fluid"
                     alt="labyrinth level 7 solution">
            </div>
            <p></p>
            <h5>Level 8</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/labyrinth_level_8.PNG' %}"
                     class="img-fluid"
                     alt="labyrinth level 8 solution">
            </div>
            <p></p>
            <h5>Level 9</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/labyrinth_level_9.PNG' %}"
                     class="img-fluid"
                     alt="labyrinth level 9 solution">
            </div>
            <p></p>
            <h5>Level 10</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/labyrinth_level_10.PNG' %}"
                     class="img-fluid"
                     alt="labyrinth level 10 solution">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Vogel</h3>
            <h5>Level 1</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/bird_level_1.PNG' %}"
                     class="img-fluid"
                     alt="bird level 1 solution">
            </div>
            <p></p>
            <h5>Level 2</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/bird_level_2.PNG' %}"
                     class="img-fluid"
                     alt="bird level 2 solution">
            </div>
            <p></p>
            <h5>Level 3</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/bird_level_3.PNG' %}"
                     class="img-fluid"
                     alt="bird level 3 solution">
            </div>
            <p></p>
            <h5>Level 4</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/bird_level_4.PNG' %}"
                     class="img-fluid"
                     alt="bird level 4 solution">
            </div>
            <p></p>
            <h5>Level 5</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/bird_level_5.PNG' %}"
                     class="img-fluid"
                     alt="bird level 5 solution">
            </div>
            <p></p>
            <h5>Level 6</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/bird_level_6.PNG' %}"
                     class="img-fluid"
                     alt="bird level 6 solution">
            </div>
            <p></p>
            <h5>Level 7</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/bird_level_7.PNG' %}"
                     class="img-fluid"
                     alt="bird level 7 solution">
            </div>
            <p></p>
            <h5>Level 8</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/bird_level_8.PNG' %}"
                     class="img-fluid"
                     alt="bird level 8 solution">
            </div>
            <p></p>
            <h5>Level 9</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/bird_level_9.PNG' %}"
                     class="img-fluid"
                     alt="bird level 9 solution">
            </div>
            <p></p>
            <h5>Level 10</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/bird_level_10.PNG' %}"
                     class="img-fluid"
                     alt="bird level 10 solution">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Schildkröte</h3>
            <h5>Level 1</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/turtle_level_1.PNG' %}"
                     class="img-fluid"
                     alt="turtle level 1 solution">
            </div>
            <p></p>
            <h5>Level 2</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/turtle_level_2.PNG' %}"
                     class="img-fluid"
                     alt="turtle level 2 solution">
            </div>
            <p></p>
            <h5>Level 3</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/turtle_level_3.PNG' %}"
                     class="img-fluid"
                     alt="turtle level 3 solution">
            </div>
            <p></p>
            <h5>Level 4</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/turtle_level_4.PNG' %}"
                     class="img-fluid"
                     alt="turtle level 4 solution">
            </div>
            <p></p>
            <h5>Level 5</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/turtle_level_5.PNG' %}"
                     class="img-fluid"
                     alt="turtle level 5 solution">
            </div>
            <p></p>
            <h5>Level 6</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/turtle_level_6.PNG' %}"
                     class="img-fluid"
                     alt="turtle level 6 solution">
            </div>
            <p></p>
            <h5>Level 7</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/turtle_level_7.PNG' %}"
                     class="img-fluid"
                     alt="turtle level 7 solution">
            </div>
            <p></p>
            <h5>Level 8</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/turtle_level_8.PNG' %}"
                     class="img-fluid"
                     alt="turtle level 8 solution">
            </div>
            <p></p>
            <h5>Level 9</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/turtle_level_9.PNG' %}"
                     class="img-fluid"
                     alt="turtle level 9 solution">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Film</h3>
            <h5>Level 1</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/movie_level_1.PNG' %}"
                     class="img-fluid"
                     alt="movie level 1 solution">
            </div>
            <p></p>
            <h5>Level 2</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/movie_level_2.PNG' %}"
                     class="img-fluid"
                     alt="movie level 2 solution">
            </div>
            <p></p>
            <h5>Level 3</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/movie_level_3.PNG' %}"
                     class="img-fluid"
                     alt="movie level 3 solution">
            </div>
            <p></p>
            <h5>Level 4</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/movie_level_4.PNG' %}"
                     class="img-fluid"
                     alt="movie level 4 solution">
            </div>
            <p></p>
            <h5>Level 5</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/movie_level_5.PNG' %}"
                     class="img-fluid"
                     alt="movie level 5 solution">
            </div>
            <p></p>
            <h5>Level 6</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/movie_level_6.PNG' %}"
                     class="img-fluid"
                     alt="movie level 6 solution">
            </div>
            <p></p>
            <h5>Level 7</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/movie_level_7.PNG' %}"
                     class="img-fluid"
                     alt="movie level 7 solution">
            </div>
            <p></p>
            <h5>Level 8</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/movie_level_8.PNG' %}"
                     class="img-fluid"
                     alt="movie level 8 solution">
            </div>
            <p></p>
            <h5>Level 9</h5>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/movie_level_9.PNG' %}"
                     class="img-fluid"
                     alt="movie level 9 solution">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Teich</h3>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_solutions/pond_solution_code.PNG' %}"
                     class="img-fluid"
                     alt="pond solution">
            </div>
        </div>
    </div>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons %}{% endblock lesson_nav_buttons %}