{% extends 'template_pages/base.html' %}
{% load static %}

{% block title %}
    About
{% endblock title %}

{% block content_container %}
    <div class="container">
        <h1>About</h1>
        Diese Webseite wurde für eine Bachelorarbeit am Lehrstuhl für Informatik VI - Künstliche Intelligenz und
        Angewandte Informatik der Julius-Maximilians-Universität Würzburg angefertigt. Sie ist in drei Lektionen
        unterteilt und soll dabei behilflich sein die Programmiersprache Python zu erlernen.
        <p></p>
        Mit dieser Arbeit schließe ich mein Studium Bachelor Wirtschaftsinformatik ab und werde in einem kommenden
        Semester einen Master Informatik beginnen.
        <p></p>
        Bei Fragen wenden Sie sich bitte an<br/>
        <a href="mailto:timo.michel@stud-mail.uni-wuerzburg.de">timo.michel@stud-mail.uni-wuerzburg.de</a>
        <hr>
        {% include 'template_pages/footer.html' %}
    </div>
{% endblock content_container %}