{% extends 'template_pages/base.html' %}
{% load static %}

{% block title %}
    Datenschutz
{% endblock title %}

{% block content_container %}
    <div class="container">
        <h1>Datenschutz</h1>
        <h3>Blockly Games</h3>
        Alle Blockly Games wurden von Google entwickelt und erheben Daten für Google Analytics. Die
        Datenschutzerklärung und Nutzungsbedingungen können Sie unter folgendem Link einsehen.
        <p></p>
        <a href="https://policies.google.com/privacy" target="_blank"><span class="link_color">Google Datenschutz & Nutzungsbedingungen</span></a>
        <hr>
        <h3>Cookie Consent</h3>
        Mithilfe von Cookie Consent wird das Banner für die Informationen zu den Cookies auf dieser Website
        eingeblendet. Dieses speichert in einem Cookie, ob Sie bereits auf den Button <span class="text_highlighted">Got it!</span>
        geklickt haben. Folgender Link führt Sie zu einer Übersicht über Cookies.
        <p></p>
        <a href="https://cookiesandyou.com/" target="_blank"><span class="link_color">Cookies & You</span></a>
        <hr>
        <h3>LearnPython</h3>
        Von dieser Webseite selbst ausgehend, werden nur zwei Cookies gespeichert. Außerdem wird Ihr Fortschritt der
        Aufgaben aus der Lektion für Python im Local Storage gespeichert.
        <p></p>
        <h4>CSRF-Token</h4>
        Cookie, um sogenannte Cross-site request forgery (CSRF) holes zu verhindern. Mehr Informationen zu diesem Thema
        finden Sie unter folgendem Link.
        <p></p>
        <a href="https://www.squarefree.com/securitytips/web-developers.html#CSRF" target="_blank"><span
                class="link_color">Cross-site request forgery</span></a>
        <p></p>
        <h4>Session-Id</h4>
        Das Session-Id Cookie wird gespeichert, um Anfragen und Antworten, welche zusammengehörig sind, zu
        identifizieren. Diese Sessions werden in variierenden Abständen gelöscht. Folgender Link enthält weitere
        Informationen zu Session-Cookies.
        <p></p>
        <a href="https://de.wikipedia.org/wiki/Sitzungsbezeichner" target="_blank"><span
                class="link_color">Sitzungsbezeichner</span></a>
        <p></p>
        <h4>Local Storage</h4>
        Mithilfe des Local Storage speichert diese Seite den von Ihnen eingegebenen Code bei Ihnen lokal in Ihrem
        Browser, sodass Ihr Fortschritt auch nach Schließen der Seite nicht verloren geht. Mehr zu Local Storage unter
        folgendem Link.
        <p></p>
        <a href="https://de.wikipedia.org/wiki/Web_Storage" target="_blank"><span
                class="link_color">Local Storage</span></a>
    </div>
{% endblock content_container %}