{% extends 'template_pages/base.html' %}
{% load static %}

{% block title %}
    Impressum
{% endblock title %}

{% block content_container %}
    <div class="container">
        <h1>Impressum</h1>
        <p>Timo Michel<br/>
            Am Hubland<br/>Fakultät für Mathematik und Informatik<br/>Lehrstuhl für Informatik VI - Künstliche Intelligenz und Angewandte Informatik<br/>97074 Würzburg</p>
        <p>Tel: <a
                href="tel:+49 931 31-86731">+49 931 31-86731</a><br/>
        </p>
        <p>E-Mail: <a
                href="mailto:timo.michel@stud-mail.uni-wuerzburg.de">timo.michel@stud-mail.uni-wuerzburg.de</a><br/>
        </p>
        <hr>
        {% include 'template_pages/footer.html' %}
    </div>
{% endblock content_container %}