{% extends 'template_pages/base.html' %}
{% load static %}

{% block title %}
    Impressum
{% endblock title %}

{% block content_container %}
    <div class="container">
        <h1>Impressum</h1>
        <p>Timo Michel<br/>
            Am Hubland<br/>Fakultät für Mathematik und Informatik<br/>Lehrstuhl für Informatik VI - Künstliche
            Intelligenz und Angewandte Informatik<br/>97074 Würzburg</p>
        <p>Tel: <a
                href="tel:+49 931 31-86731">+49 931 31-86731</a><br/>
        </p>
        <p>E-Mail: <a
                href="mailto:timo.michel@stud-mail.uni-wuerzburg.de">timo.michel@stud-mail.uni-wuerzburg.de</a><br/>
        </p>
        <hr>
        <p></p>
        <h3>CC-0 License</h3>
        <span class="text_highlighted">Landing</span> (http://python-tutorial.informatik.uni-wuerzburg.de/) ->
        <span class="text_highlighted">Pexels</span>
        (https://www.pexels.com/photo/grayscale-photo-of-computer-laptop-near-white-notebook-and-ceramic-mug-on-table-169573/)
        <hr>
        <p></p>
        <h3>Pexels License</h3>
        <span class="text_highlighted">Zusammenfassung</span>
        (http://python-tutorial.informatik.uni-wuerzburg.de/Blockly/Lektion/Zusammenfassung/) &
        (http://python-tutorial.informatik.uni-wuerzburg.de/Python/Lektion/Zusammenfassung/) -> <span
            class="text_highlighted">Pexels</span> (https://www.pexels.com/photo/yeah-printed-white-board-900102/)
        <hr>
        <p></p>
        <h3>Unsplash License</h3>
        <span class="text_highlighted">Index</span> (http://python-tutorial.informatik.uni-wuerzburg.de/Home/) ->
        <span class="text_highlighted">Unsplash</span> (https://unsplash.com/photos/OdAqbedkfiA)
        <hr>
        <p></p>
        <h3>Royalty-Free License</h3>
        <span class="text_highlighted">Einführung der dritten Lektion</span>
        (http://python-tutorial.informatik.uni-wuerzburg.de/IDE/Lektion/Einf%C3%BChrung/) -> <span
            class="text_highlighted">Videvo</span> (https://www.videvo.net/video/hacker-code-green-on-black-01/4513/)
        <p></p>
        <hr>
        {% include 'template_pages/footer.html' %}
    </div>
{% endblock content_container %}