{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <title>
        {% block title %}{% endblock title %} | Learn_Python
    </title>
    {% block head_meta %}
        {% block head_meta_charset %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        {% endblock head_meta_charset %}
        {% block head_meta_contenlanguage %}
            <meta http-equiv="Content-Language" lang="de"/>
        {% endblock head_meta_contenlanguage %}
        {% block head_meta_viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
    {% endblock head_meta %}
    {% block head_css %}
        {% block head_css_site %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                  crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/template_pages/base.css' %}">
            <link rel="stylesheet" href="{% static 'css/template_pages/footer.css' %}">
        {% endblock head_css_site %}
        {% block head_css_page %}
        {% endblock head_css_page %}
        {% block head_css_section %}
        {% endblock head_css_section %}
    {% endblock head_css %}
</head>
<body>
{% block header %}
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark main_color">
            <a class="navbar-brand" href="{% url 'index' %}">Learn_Python</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item {% block home_active %}{% endblock home_active %}">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item {% block lesson_1_active %}{% endblock lesson_1_active %}">
                            <a class="nav-link" href="{% url 'lesson_1_introduction' %}">Lektion 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block lesson_2_active %}{% endblock lesson_2_active %}"
                               href="{% url 'lesson_2_introduction' %}">Lektion 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Lektion 3</a>
                        </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="form-btn btn btn-outline-light my-2 my-sm-0">
                                Logout
                            </a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="form-btn btn btn-outline-light my-2 my-sm-0"
                               id="login_button">
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'sign_up' %}" class="form-btn btn btn-outline-light my-2 my-sm-0">
                                Registrieren
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
    </header>
{% endblock header %}
{% block content_container %}{% endblock content_container %}
</body>
<footer>
    {% block footer_javascript %}
        {% block footer_javascript_site %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                    crossorigin="anonymous"></script>
        {% endblock footer_javascript_site %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
    {% endblock footer_javascript %}
</footer>
</html>