<div id="footer_wrapper">
    <ul class="nav justify-content-center sticky-bottom navbar-dark">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}"><span class="link_color">About</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'impressum' %}"><span class="link_color">Impressum</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'data_protection' %}"><span class="link_color">Datenschutz</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'sitemap' %}"><span class="link_color">Sitemap</span></a>
        </li>
    </ul>
</div>