{% extends 'template_pages/sidebar.html' %}
{% load static %}

{% block title %}
    Aufgaben
{% endblock title %}

{% block ide_lesson_active %}
    active
{% endblock ide_lesson_active %}

{% block sidebar_header %}
    <i class="fas fa-desktop"></i> Lektion
{% endblock sidebar_header %}

{% block sidebar_items %}
    <li class="{% block ide_lesson_introduction_active %}{% endblock ide_lesson_introduction_active %}">
        <a href="{% url 'ide_lesson_introduction' %}">Einführung</a>
    </li>
    <li class="{% block ide_lesson_python_installation_active %}{% endblock ide_lesson_python_installation_active %}">
        <a href="{% url 'ide_lesson_python_installation' %}">Python Installation</a>
    </li>
    <li class="{% block ide_lesson_pycharm_installation_active %}{% endblock ide_lesson_pycharm_installation_active %}">
        <a href="{% url 'ide_lesson_pycharm_installation' %}">PyCharm Installation</a>
    </li>
    <li class="{% block ide_lesson_ipython_installation_active %}{% endblock ide_lesson_ipython_installation_active %}">
        <a href="{% url 'ide_lesson_ipython_installation' %}">IPython Installation</a>
    </li>
    <li class="{% block ide_lesson_modules_active %}{% endblock ide_lesson_modules_active %}">
        <a href="{% url 'ide_lesson_modules' %}">Module</a>
    </li>
    <li class="{% block ide_lesson_exercises_active %}{% endblock ide_lesson_exercises_active %}">
        <a href="{% url 'ide_lesson_exercises' %}">Aufgaben</a>
    </li>
    <li>
        <a href="#">Aufgabe: Leicht</a>
    </li>
    <li>
        <a href="#">Aufgabe: Mittel</a>
    </li>
    <li>
        <a href="#">Aufgabe: Schwer</a>
    </li>
{% endblock sidebar_items %}