{% extends 'template_pages/sidebar.html' %}
{% load static %}

{% block title %}
    Python
{% endblock title %}

{% block lesson_2_active %}
    active
{% endblock lesson_2_active %}

{% block sidebar_header %}
    <h4><i class="fab fa-python"></i>  Kompendium</h4>
{% endblock sidebar_header %}

{% block sidebar_items %}
    <li>
        <a href="#variables" onclick="highlight_active_section('variables_id', 'python')">Variablen</a>
    </li>
    <li>
        <a href="#datatypes" onclick="highlight_active_section('datatypes_id', 'python')">Datentypen</a>
    </li>
    <li>
        <a href="#strings" onclick="highlight_active_section('strings_id', 'python')">Strings</a>
    </li>
    <li>
        <a href="#operators" onclick="highlight_active_section('operators_id', 'python')">Operatoren</a>
    </li>
    <li>
        <a href="#print" onclick="highlight_active_section('print_id', 'python')">Print-Funktion</a>
    </li>
    <li>
        <a href="#input" onclick="highlight_active_section('input_id', 'python')">Input-Funktion</a>
    </li>
    <li>
        <a href="#conditional_statements" onclick="highlight_active_section('conditional_statements_id', 'python')">Bedingte Anweisungen</a>
    </li>
    <li>
        <a href="#while_loop" onclick="highlight_active_section('while_loop_id', 'python')">while-Schleife</a>
    </li>
    <li>
        <a href="#for_loop" onclick="highlight_active_section('for_loop_id', 'python')">for-Schleife</a>
    </li>
    <li>
        <a href="#lists" onclick="highlight_active_section('lists_id', 'python')">Listen</a>
    </li>
    <li>
        <a href="#tuple" onclick="highlight_active_section('tuple_id', 'python')">Tupel</a>
    </li>
    <li>
        <a href="#set" onclick="highlight_active_section('set_id', 'python')">Set</a>
    </li>
    <li>
        <a href="#dictionary" onclick="highlight_active_section('dictionary_id', 'python')">Dictionary</a>
    </li>
    <li>
        <a href="#functions" onclick="highlight_active_section('functions_id', 'python')">Funktionen</a>
    </li>
    <li>
        <a href="#recursion" onclick="highlight_active_section('recursion_id', 'python')">Rekursion</a>
    </li>
    <li>
        <a href="#classes" onclick="highlight_active_section('classes_id', 'python')">Klassen</a>
    </li>
{% endblock sidebar_items %}

{% block full_screen_content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="sidebar_toggle_nav">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

        </div>
    </nav>

    {% block python_compendium_inject_frame %}{% endblock python_compendium_inject_frame %}
{% endblock full_screen_content %}