{% extends 'template_pages/base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block head_css_page %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .jumbotron {
            background: url('{% static 'pictures/hero_image_1.jpg' %}');
        }
    </style>
{% endblock head_css_page %}

{% block home_active %}
    active
{% endblock home_active %}

{% block header %}{% endblock header %}

{% block content_container %}
    <script src="{% static 'js/index.js' %}"></script>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="hero_image_wrapper">
                <h1 class="display-4">Willkommen!</h1>
                <p class="lead">Hier erlernen Sie grundlegende Konstrukte des Programmierens mithilfe des visuellen
                    Code-Editors Blockly. Anschließend und währenddessen transferieren Sie das gelernte auf die
                    Programmiersprache Python. Zum Abschluss behandeln Sie größere Aufgaben lokal in Ihrer eigenen
                    IDE.</p>
                <hr class="my-4">
                <p>Legen Sie gleich mit einem Klick auf den folgenden Button los!</p>
                <a class="btn btn-primary btn-lg" onclick="smooth_scroll()" role="button">Los gehts! <i
                        class="fa fa-angle-down"></i></a>
            </div>
        </div>
    </div>

    <div class="container" id="index_content">
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="float-left"><h5>Weiter lernen:</h5></div>
                            <div class="float-right"><a href="#" class="btn btn-primary disabled">Weiter</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="float-left"><h5>Ausloggen:</h5></div>
                            <div class="float-right"><a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="float-left"><h5>Einloggen:</h5></div>
                            <div class="float-right"><a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="float-left"><h5>Registrieren:</h5></div>
                            <div class="float-right"><a href="{% url 'sign_up' %}"
                                                        class="btn btn-primary">Registrieren</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="{% static 'pictures/blockly_logo.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Lektion 1</h5>
                    <p class="card-text">In dieser Lektion arbeiten Sie mit dem Blockly-Editor, mit dessen Hilfe Sie
                        verschiedene Konstrukte erlernen, die Sie für das Programmieren in Python brauchen
                        werden.</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'lesson_1_introduction' %}" class="card-link"><span
                            class="link_color">Zur Lektion</span></a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'pictures/python_logo.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Lektion 2</h5>
                    <p class="card-text">In dieser Lektion werden die aus der vorherigen Lektion erlernten
                        Konstrukte
                        noch einmal in Python wiederholt und gleichzeitig einige wenige neue Konstrukte
                        eingeführt.</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'lesson_2_introduction' %}" class="card-link"><span
                            class="link_color">Zur Lektion</span></a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'pictures/pycharm_logo.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Lektion 3</h5>
                    <p class="card-text">In dieser Lektion werden Sie Aufgaben lokal in ihrer eigenen IDE bearbeiten
                        und
                        testen. Wir werden für die gezeigten Beispiele die IDE PyCharm verwenden.</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'lesson_3_repl_test' %}" class="card-link"><span class="link_color">Zur Lektion</span></a>
                </div>
            </div>
        </div>
        <div id="scroll_anchor"></div>
        <hr/>
        {% include 'template_pages/footer.html' %}
    </div>
{% endblock content_container %}