{% extends 'template_pages/base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block head_css_page %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .first_image {
            background-image: url({% static 'pictures/first_image.jpeg' %});
        }

        .second_image {
            background-image: url({% static 'pictures/second_image.jpeg' %});
        }

        .third_image {
            background-image: url({% static 'pictures/third_image.jpeg' %});
        }

        .fourth_image {
            background-image: url({% static 'pictures/fourth_image.jpeg' %});
        }
    </style>
{% endblock head_css_page %}

{% block home_active %}
    active
{% endblock home_active %}

{% block header %}{% endblock header %}

{% block content_container %}
    <script src="{% static 'js/index.js' %}"></script>

    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="{% static 'videos/index_header_video.mp4' %}" type="video/mp4">
        </video>
        <div class="container">
            <div class="d-flex text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3"><span class="logo_color">LearnPython</span></h1>
                    <div class="lead mb-0">Das ultimative Tutorial zum Erlernen von Python</div>
                </div>
            </div>
        </div>
    </header>



    <section class="split_container">
        <div class="left-half split_screen first_image to_hide"></div>
        <div class="right-half split_screen">
            <article class="table_cell_margin">
                Auf dieser Website erlernen Sie die kompletten Grundlagen des Programmierens
                mit der
                Programmiersprache Python. Von den einzelnen Konstrukten des Programmierens,
                über die Syntax
                und
                Strukturierung von Python bis hin zur Entwicklung eigener Programme.
                <p></p>
                Das Tutorial ist in insgesamt drei Lektionen aufgeteilt. Zu den ersten beiden
                Lektionen ist
                jeweils noch eine Übersicht über die wichtigsten erlernten Inhalte
                vorhanden, sodass Sie
                jederzeit schnellen Zugriff auf ein Nachschlagewerk haben.
                <p></p>
                Nach Beendigung dieses Tutorials sollten Sie in der Lage sein eigene
                Programme in einer
                selbst
                gewählten IDE entwickeln zu können.
            </article>
        </div>
    </section>

    <hr class="to_show">

    <section class="split_container">
        <div class="left-half split_screen">
            <article class="table_cell_margin">
                <p>In der ersten Lektion werden Sie die wichtigsten Konstrukte des
                    Programmierens erlernen
                    und
                    auch
                    anwenden. Sie werden hierzu Aufgaben in Form von Spielen bearbeiten können,
                    um das
                    gelernte
                    Wissen zu prüfen und zu festigen.</p>
                <p>Zum Erlernen der Konstrukte und lösen der Spiele werden Sie einen visuellen
                    Code-Editor
                    verwenden
                    dürfen, welcher Programmcode mithilfe von Blöcken darstellt. Dieser
                    Code-Editor wird
                    durch
                    die
                    Bibliothek <a href="https://developers.google.com/blockly/" target="_blank"><span
                            class="link_color">Blockly</span></a> zur Verfügung gestellt.</p>
                <p>Die Spiele wurden ebenfalls von Google entworfen und sind <a
                        href="https://github.com/google/blockly-games/wiki"
                        target="_blank"><span
                        class="link_color">hier</span></a> nochmals einzusehen. Sie wurden für
                    dieses
                    Tutorial
                    so
                    abgeändert, dass sie Python- anstatt JavaScript-Code erzeugen.</p>
            </article>
        </div>
        <div class="right-half split_screen second_image to_hide">
        </div>
    </section>

    <hr class="to_show">

    <section class="split_container">
        <div class="left-half split_screen third_image to_hide"></div>
        <div class="right-half split_screen">
            <article class="table_cell_margin">
                Auf dieser Website erlernen Sie die kompletten Grundlagen des Programmierens
                mit der
                Programmiersprache Python. Von den einzelnen Konstrukten des Programmierens,
                über die Syntax
                und
                Strukturierung von Python bis hin zur Entwicklung eigener Programme.
                <p></p>
                Das Tutorial ist in insgesamt drei Lektionen aufgeteilt. Zu den ersten beiden
                Lektionen ist
                jeweils noch eine Übersicht über die wichtigsten erlernten Inhalte
                vorhanden, sodass Sie
                jederzeit schnellen Zugriff auf ein Nachschlagewerk haben.
                <p></p>
                Nach Beendigung dieses Tutorials sollten Sie in der Lage sein eigene
                Programme in einer
                selbst
                gewählten IDE entwickeln zu können.
            </article>
        </div>
    </section>

    <hr class="to_show">

    <section class="split_container">
        <div class="left-half split_screen">
            <article class="table_cell_margin">
                <p>In der ersten Lektion werden Sie die wichtigsten Konstrukte des
                    Programmierens erlernen
                    und
                    auch
                    anwenden. Sie werden hierzu Aufgaben in Form von Spielen bearbeiten können,
                    um das
                    gelernte
                    Wissen zu prüfen und zu festigen.</p>
                <p>Zum Erlernen der Konstrukte und lösen der Spiele werden Sie einen visuellen
                    Code-Editor
                    verwenden
                    dürfen, welcher Programmcode mithilfe von Blöcken darstellt. Dieser
                    Code-Editor wird
                    durch
                    die
                    Bibliothek <a href="https://developers.google.com/blockly/" target="_blank"><span
                            class="link_color">Blockly</span></a> zur Verfügung gestellt.</p>
                <p>Die Spiele wurden ebenfalls von Google entworfen und sind <a
                        href="https://github.com/google/blockly-games/wiki"
                        target="_blank"><span
                        class="link_color">hier</span></a> nochmals einzusehen. Sie wurden für
                    dieses
                    Tutorial
                    so
                    abgeändert, dass sie Python- anstatt JavaScript-Code erzeugen.</p>
            </article>
        </div>
        <div class="right-half split_screen fourth_image to_hide">
        </div>
    </section>


    <hr>
    <p></p>
    {% include 'template_pages/footer.html' %}
{% endblock content_container %}