{% extends 'template_pages/base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block head_css_page %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .first_image {
            background-image: url({% static 'pictures/Block Logo_Zeichenfläche 1.png' %});
        }

        .second_image {
            background-image: url({% static 'pictures/Python Logo_Zeichenfläche 1.png' %});
        }

        .third_image {
            background: #11a611;
        }

        .text_section {
            color: white;
            font-size: 1.1em;
        }

        .text_section_background_first {
            background-image: url({% static 'pictures/Block Logo Farbverlauf.png' %});
        }

        .text_section_background_second {
            background-image: url({% static 'pictures/Python farbverlauf.png' %});
        }

        .text_section_background_third {
            background-image: url({% static 'pictures/ide_gradient.png' %});
        }
    </style>
{% endblock head_css_page %}

{% block home_active %}
    active
{% endblock home_active %}

{% block header %}{% endblock header %}

{% block content_container %}
    <script src="{% static 'js/index.js' %}"></script>

    <header>
        <div class="overlay">
            {% if user.is_authenticated %}
                <div class="header_bar">
                    <ul class="navbar-nav ml-auto spacing align_horizontal_container">
                        <li class="nav-item align_horizontal spacing_left">
                            <a href="{% url 'lesson_1_introduction' %}" class="nav-link align_horizontal">
                                <i class="fas fa-puzzle-piece"></i> Blockly
                            </a>
                        </li>
                        <li class="nav-item align_horizontal">
                            <a href="{% url 'lesson_2_introduction' %}" class="nav-link align_horizontal">
                                <i class="fab fa-python"></i> Python
                            </a>
                        </li>
                        <li class="nav-item align_horizontal spacing_right">
                            <a href="#" class="nav-link align_horizontal">
                                <i class="fas fa-desktop"></i> Aufgaben
                            </a>
                        </li>
                        <li class="nav-item navbar_inverted_spacing">
                            <a href="{% url 'logout' %}"
                               class="form-btn btn btn-outline-light float-right my-2 my-sm-0">
                                Logout <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="header_bar">
                    <ul class="navbar-nav mr-auto float-right spacing align_horizontal_container">
                        <li class="nav-item align_horizontal float-right logged_out_buttons_spacing">
                            <a href="{% url 'sign_up' %}" class="form-btn btn btn-outline-light my-2 my-sm-0">
                                Registrieren
                            </a>
                        </li>
                        <li class="nav-item align_horizontal float-right logged_out_buttons_spacing">
                            <a href="{% url 'login' %}" class="form-btn btn btn-outline-light my-2 my-sm-0"
                               id="login_button">
                                Login <i class="fas fa-sign-in-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="{% static 'videos/index_header_video.mp4' %}" type="video/mp4">
        </video>
        <div class="container">
            <div class="d-flex text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3"><span class="logo_color">LearnPython</span></h1>
                    <div class="lead mb-0">Das ultimative Tutorial zum Erlernen von Python</div>
                </div>
            </div>
        </div>
    </header>

    <section class="split_container">
        <div class="left-half split_screen first_image full_background_image to_hide"></div>
        <div class="right-half split_screen text_section text_section_background_first full_background_image">
            <article class="table_cell_margin">
                <p>In der ersten Lektion werden Sie die wichtigsten Konstrukte des Programmierens erlernen und auch
                    anwenden. Sie werden hierzu Aufgaben in Form von Spielen bearbeiten können, um das gelernte Wissen
                    zu prüfen und zu festigen.</p>
                <p>Zum Erlernen der Konstrukte und lösen der Spiele werden Sie einen visuellen Code-Editor verwenden
                    dürfen, welcher Programmcode mithilfe von Blöcken darstellt. Dieser Code-Editor wird durch die
                    Bibliothek <a href="https://developers.google.com/blockly/" target="_blank"><span
                            class="link_color">Blockly</span></a> zur Verfügung gestellt.</p>
                <p>Die Spiele wurden ebenfalls von Google entworfen und sind <a
                        href="https://github.com/google/blockly-games/wiki" target="_blank"><span class="link_color">hier</span></a>
                    nochmals einzusehen. Sie wurden für dieses Tutorial so abgeändert, dass sie Python- anstatt
                    JavaScript-Code erzeugen.</p>
                <p><a class="form-btn btn btn-outline-light" href="{% url 'lesson_1_introduction' %}">Zur Lektion <i
                        class="fas fa-puzzle-piece"></i></a></p>
            </article>
        </div>
    </section>

    <section class="split_container">
        <div class="left-half split_screen text_section text_section_background_second full_background_image">
            <article class="table_cell_margin">
                <p>In der ersten Lektion werden Sie die wichtigsten Konstrukte des Programmierens erlernen und auch
                    anwenden. Sie werden hierzu Aufgaben in Form von Spielen bearbeiten können, um das gelernte Wissen
                    zu prüfen und zu festigen.</p>
                <p>Zum Erlernen der Konstrukte und lösen der Spiele werden Sie einen visuellen Code-Editor verwenden
                    dürfen, welcher Programmcode mithilfe von Blöcken darstellt. Dieser Code-Editor wird durch die
                    Bibliothek <a href="https://developers.google.com/blockly/" target="_blank"><span
                            class="link_color">Blockly</span></a> zur Verfügung gestellt.</p>
                <p>Die Spiele wurden ebenfalls von Google entworfen und sind <a
                        href="https://github.com/google/blockly-games/wiki" target="_blank"><span class="link_color">hier</span></a>
                    nochmals einzusehen. Sie wurden für dieses Tutorial so abgeändert, dass sie Python- anstatt
                    JavaScript-Code erzeugen.</p>
                <p><a class="form-btn btn btn-outline-light" href="{% url 'lesson_2_introduction' %}">Zur Lektion <i
                        class="fab fa-python"></i></a></p>
            </article>
        </div>
        <div class="right-half split_screen second_image to_hide full_background_image">
        </div>
    </section>

    <section class="split_container">
        <div class="left-half split_screen third_image to_hide"></div>
        <div class="right-half split_screen text_section text_section_background_third full_background_image">
            <article class="table_cell_margin">
                <p>In der ersten Lektion werden Sie die wichtigsten Konstrukte des
                    Programmierens erlernen
                    und
                    auch
                    anwenden. Sie werden hierzu Aufgaben in Form von Spielen bearbeiten können,
                    um das
                    gelernte
                    Wissen zu prüfen und zu festigen.</p>
                <p>Zum Erlernen der Konstrukte und lösen der Spiele werden Sie einen visuellen
                    Code-Editor
                    verwenden
                    dürfen, welcher Programmcode mithilfe von Blöcken darstellt. Dieser
                    Code-Editor wird
                    durch
                    die
                    Bibliothek <a href="https://developers.google.com/blockly/" target="_blank"><span
                            class="link_color">Blockly</span></a> zur Verfügung gestellt.</p>
                <p>Die Spiele wurden ebenfalls von Google entworfen und sind <a
                        href="https://github.com/google/blockly-games/wiki"
                        target="_blank"><span
                        class="link_color">hier</span></a> nochmals einzusehen. Sie wurden für
                    dieses
                    Tutorial
                    so
                    abgeändert, dass sie Python- anstatt JavaScript-Code erzeugen.</p>
                <p><a class="form-btn btn btn-outline-light" href="#">Zur Lektion <i class="fas fa-desktop"></i></a>
                </p>
            </article>
        </div>
    </section>

    {% include 'template_pages/footer.html' %}
{% endblock content_container %}