{% extends 'template_pages/ide_lesson_base.html' %}
{% load static %}

{% block sidebar_page_content %}
    <link rel="stylesheet" href="{% static 'css/ide_lesson/maumau.css' %}">

    <div class="card">
        <div class="card-body">
            <h1>Hello World</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Download-Link</h3>
            <input type="text" class="form-control" value="https://github.com/PythonTut/dummy_hello_world.git"
                   id="repos_link" readonly>
            <p></p>
            <button class="btn btn-dark move_button_above_input" onclick="myFunction()">Copy Link</button>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}
