{% extends 'template_pages/ide_lesson_base.html' %}
{% load static %}

{% block ide_lesson_modules_active %}
    sidebar_active
{% endblock ide_lesson_modules_active %}

{% block sidebar_page_content %}
    <div class="card">
        <div class="card-body">
            <h1>Aufgaben</h1>
        </div>
    </div>
    <div id="load_animation_div" style="visibility: hidden">
        <div class="card aniview" data-av-animation="fadeInRightBig">
            <div class="card-body">
            </div>
        </div>
    </div>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'ide_lesson_modules' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    #
{% endblock lesson_nav_buttons_next_page %}