{% extends 'template_pages/ide_lesson_base.html' %}
{% load static %}

{% block ide_lesson_exercises_active %}
    sidebar_active
{% endblock ide_lesson_exercises_active %}

{% block sidebar_page_content %}
    <div class="card">
        <div class="card-body">
            <h1>Aufgaben</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Nachdem Sie alles Notwendige installiert haben, könnten Sie jetzt eigentlich beginnen die ersten Aufgaben zu
            lösen. Allerdings fehlen noch ein paar wichtige Informationen zu <span
                class="text_highlighted">Modulen</span>, <span class="text_highlighted">Namensräumen</span> und <span
                class="text_highlighted">Ausnahmebehandlung</span>. Diese drei Themen werden Ihnen in den folgenden
            Abschnitten beigebracht. Außerdem folgt hier noch eine Einführung, wie sie den Code und die Files für die
            Tests der Aufgaben herunterladen und in PyCharm aufrufen können.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Videoguide</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" controls>
                    <source src="{% static 'videos/ide_lesson/exercise_explanation.mp4' %}">
                </video>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Textguide</h3>
            Der zugehörige Code und die zugehörigen Tests für jede Aufgabe befinden sich jeweils in einem Repository auf
            <a href="https://github.com/" target="_blank"><span class="link_color">GitHub</span></a>. Hierfür finden Sie
            im Abschnitt der Aufgabe einen Link zum Repository, der ähnlich zu Folgendem aufgebaut ist.
            <p></p>
            <span class="link_color">https://github.com/PythonTut/example.git</span>
            <p></p>
            Diesen Link kopieren Sie und folgen den weiteren Schritten. Falls Sie das Repository von der Startseite aus
            klonen wollen, dann wählen Sie Folgendes aus.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/ide_lesson/pycharm_git_from_start_window.png' %}" class="img-fluid"
                     alt="Example of git from start window of pycharm">
            </div>
            <p></p>
            Falls Sie sich bereits in einem Projekt befinden und ein neues Projekt klonen wollen, dann wählen Sie das
            Folgende aus.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/ide_lesson/pycharm_git_in_project.png' %}" class="img-fluid"
                     alt="Example of git from project">
            </div>
            <p></p>
            Nachdem Sie einem von beiden Schritten gefolgt sind, erscheint folgendes Fenster, in welchem Sie den Link
            der
            Aufgabe in das Feld <span class="text_highlighted">URL</span> einfügen.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/ide_lesson/pycharm_git_choose_repos.PNG' %}" class="img-fluid"
                     alt="Example of git choose repos">
            </div>
            <p></p>
            Abschließend müssen Sie nurnoch <span class="text_highlighted">Clone</span> auswählen und das geklonte
            Projekt öffnen.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Wenn Sie das Projekt geklont und geöffnet haben, erscheinen in der Projektstruktur mehrere Dateien. Hier am
            Beispiel der ersten Aufgaben <span class="text_highlighted">MauMau</span> veranschaulicht.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/ide_lesson/exercises_project_structure.PNG' %}"
                     class="img-fluid"
                     alt="Example of exercise project structure">
            </div>
            <p></p>
            Wichtig für Sie sind nur die drei Python-Dateien (Endung auf .py). In der Datei, welche den Namen der
            Aufgabe
            trägt, sollen Sie Ihre Lösungen eintragen (in diesem Fall <span class="text_highlighted">maumau.py</span>).
            Die Datei <span class="text_highlighted">tests.py</span> enthält die Tests, mit denen Sie prüfen können, ob
            ihr Code korrekt ist. Um die Tests ausführen zu lassen, öffnen Sie diese Datei und wählen einen der grünen
            Pfeile am Rand aus. Sie können somit alle Funktionen zusammen testen oder nur Tests für einzelne Funktionen
            ausführen lassen.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/ide_lesson/exercises_run_tests.PNG' %}"
                     class="img-fluid"
                     alt="Example of run tests">
            </div>
            <p></p>
            Wenn Sie einen dieser Buttons drücken, erscheint folgendes Fenster, in welchem Sie die markierte Option
            auswählen müssen. Anschließend erscheint in Ihrer Konsole eine oder mehrere Fehlermeldungen bzw. ein <span
                class="text_highlighted">OK</span>, falls ihr Code korrekt ist.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/ide_lesson/exercises_run_tests_window.png' %}"
                     class="img-fluid"
                     alt="Example of run tests window">
            </div>
            <p></p>
            Die Datei <span class="text_highlighted">solutions.py</span> enthält eine Musterlösung für die gestellte
            Aufgabe, sodass Sie ihren Code vergleichen bzw. den vorgefertigten Code als Hilfestellung nutzen
            können.
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'ide_lesson_pycharm_installation' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'ide_lesson_modules' %}
{% endblock lesson_nav_buttons_next_page %}