{% extends 'template_pages/ide_lesson_base.html' %}
{% load static %}

{% block ide_lesson_exercises_active %}
    sidebar_active
{% endblock ide_lesson_exercises_active %}

{% block sidebar_page_content %}
    <div class="card">
        <div class="card-body">
            <h1>Aufgaben</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Nachdem Sie alles Notwendige installiert haben, könnten Sie jetzt eigentlich beginnen die ersten Aufgaben zu
            lösen. Allerdings fehlen noch ein paar wichtige Informationen zu <span
                class="text_highlighted">Modulen</span>, <span class="text_highlighted">Namensräumen</span> und <span
                class="text_highlighted">Ausnahmebehandlung</span>. Diese drei Themen werden Ihnen in den folgenden
            Abschnitten beigebracht. Außerdem folgt hier noch eine Einführung, wie sie den Code und die Files für die
            Tests der Aufgaben herunterladen und in PyCharm aufrufen können.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Der zugehörige Code und die zugehörigen Tests für jede Aufgabe befinden sich jeweils in einem Repository auf
            <a href="https://github.com/" target="_blank"><span class="link_color">GitHub</span></a>. Hierfür finden Sie
            im Abschnitt der Aufgabe einen Link zum Repository, der ähnlich zu folgendem aufgebaut ist.
            <p></p>
            <span class="link_color">https://github.com/PythonTut/example.git</span>
            <p></p>
            Diesen Link kopieren Sie und folgen den weiteren Schritten. Falls Sie das Repository von der Startseite aus
            klonen wollen, dann wählen Sie Folgendes aus.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/ide_lesson/pycharm_git_from_start_window.png' %}" class="img-fluid"
                     alt="Example of git from start window of pycharm">
            </div>
            <p></p>
            Falls Sie sich bereits in einem Projekt befinden und ein neues Projekt klonen wollen, dann wählen Sie das
            Folgende aus.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/ide_lesson/pycharm_git_in_project.png' %}" class="img-fluid"
                     alt="Example of git from project">
            </div>
            <p></p>
            Nachdem Sie einem von beiden Schritten gefolgt sind, erscheint folgendes Fenster, in welchem Sie den Link der
            Aufgabe in das Feld <span class="text_highlighted">URL</span> einfügen.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/ide_lesson/pycharm_git_choose_repos.PNG' %}" class="img-fluid"
                     alt="Example of git choose repos">
            </div>
            <p></p>
            Abschließend müssen Sie nurnoch <span class="text_highlighted">Clone</span> auswählen und das geklonte
            Projekt öffnen.
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'ide_lesson_pycharm_installation' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'ide_lesson_modules' %}
{% endblock lesson_nav_buttons_next_page %}