{% extends 'template_pages/ide_lesson_base.html' %}
{% load static %}

{% block ide_lesson_introduction_active %}
    sidebar_active
{% endblock ide_lesson_introduction_active %}

{% block sidebar_page_content %}
    <div class="card">
        <div class="card-body">
            <h1>Einführung</h1>
        </div>
    </div>
    <div id="load_animation_div" style="visibility: hidden">
        <div class="card aniview" data-av-animation="fadeInRightBig">
            <div class="card-body">
                Zum Abschluss dieses Tutorials dürfen Sie nun Aufgaben in einer eigens gewählten IDE lösen. Dafür werden
                Ihnen zwei Guides zur Verfügung gestellt. Einmal für die IDE <a href="#"><span class="link_color">PyCharm</span></a>
                und einmal für die IDE <a href="#"><span class="link_color">IPython</span></a>. Der Unterschied besteht
                darin, dass PyCharm eine lokale IDE darstellt und IPython im Browser verwendet wird.
                <p></p>
                Ihnen ist natürlich freigestellt jede andere IDE zu wählen, die Sie möchten, allerdings werden sich
                Beispiele und Erklärungen nur auf diese zwei IDE's beziehen, weshalb Ihnen empfohlen wird, sich für eine
                von diesen beiden zu entscheiden.
                <p></p>
                <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                    <source src="{% static 'videos/ide_lesson/green_code_on_black_background.mov' %}" type="video/mp4">
                </video>
            </div>
        </div>
        <p></p>
    </div>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_2_heredity' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'ide_lesson_python_installation' %}
{% endblock lesson_nav_buttons_next_page %}