{% extends 'template_pages/ide_lesson_base.html' %}
{% load static %}

{% block ide_lesson_ipython_installation_active %}
    sidebar_active
{% endblock ide_lesson_ipython_installation_active %}

{% block sidebar_page_content %}
    <div class="card">
        <div class="card-body">
            <h1>IPython Installation</h1>
        </div>
    </div>

        <div class="card">
            <div class="card-body">
            </div>
        </div>
    </div>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'ide_lesson_pycharm_installation' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'ide_lesson_modules' %}
{% endblock lesson_nav_buttons_next_page %}