{% extends 'template_pages/ide_lesson_base.html' %}
{% load static %}

{% block ide_lesson_pycharm_installation_active %}
    sidebar_active
{% endblock ide_lesson_pycharm_installation_active %}

{% block sidebar_page_content %}
    <div class="card">
        <div class="card-body">
            <h1>PyCharm Installation</h1>
        </div>
    </div>
    <div id="load_animation_div" style="visibility: hidden">
        <div class="card aniview" data-av-animation="fadeInRightBig">
            <div class="card-body">
                PyCharm ist eine lokale IDE, welche von JetBrains entwickelt wird. Angeboten wird eine kostenfreie
                Community-Edition, welche weniger Features enthält, oder eine kostenpflichtige Professional-Edition,
                welche den vollen Umfang an Features enthält. Durch die Einschreibung an einer Universität wird Ihnen
                die Professional-Edition für den Zeitraum Ihres Studiums konstenlos zur Verfügung gestellt, weshalb
                empfohlen wird diese herunterzuladen. Wichtig ist, dass Sie wieder die passende Version für Ihr
                Betriebssystem auswählen.
            </div>
        </div>
        <div class="card aniview" data-av-animation="fadeInLeftBig">
            <div class="card-body">
                <h3>Studenten-Lizenz</h3>
                Um sich für die kostenlosen Produkte von Jetbrains zu registrieren, müssen Sie dem folgenden Link zur
                Aktivierungsseite von Jetbrains folgen und dort die entsprechenden Angaben machen.
                <p></p>
                <a href="https://www.jetbrains.com/shop/eform/students" target="_blank"><span
                        class="link_color">Link zur Aktivierung</span></a>
                <p></p>
                <div class="text-center">
                    <img src="{% static 'pictures/ide_lesson/pycharm_installation_jetbrains_registration.PNG' %}"
                         class="rounded img-fluid"
                         alt="jebtrains student license">
                </div>
                <p></p>
                Sie müssen nur die Felder entsprechend ausfüllen und im rot marktierten Feld ihre E-Mail-Adresse der
                Universität angeben (z.B. vorname.nachname@stud-mail.uni-wuerzburg.de). Anschließend wird Ihnen eine
                Bestätigungsmail an Ihre Adresse gesendet, in denen Anweisungen zum weiteren Vorgehen aufgeführt sind.
            </div>
        </div>
        <div class="card aniview" data-av-animation="fadeInRightBig">
            <div class="card-body">
                <h3>Installation</h3>
                <a href="https://www.jetbrains.com/pycharm/download/#section=windows" target="_blank"><span
                        class="link_color">Download-Link</span></a>
                <p></p>
                Wählen Sie die entsprechende Version aus und laden Sie diese herunter. Anschließend starten Sie die
                Installation mithilfe der entsprechenden Datei und folgen Sie den Anweisungen.
                <p></p>
                <div class="text-center">
                    <img src="{% static 'pictures/ide_lesson/pycharm_installation_options.png' %}"
                         class="rounded img-fluid"
                         alt="pycharm installation options">
                </div>
                <p></p>
                Setzen Sie bei allen rot markierten Feldern einen Hacken und folgen Sie danach weiter den Anweisungen
                des Setups. Nach erfolgreicher Installation starten Sie das Programm. Nun müssen Sie ihre IDE nurnoch
                aktivieren.
                <p></p>
                <div class="text-center">
                    <img src="{% static 'pictures/ide_lesson/pycharm_installation_activation.png' %}"
                         class="rounded img-fluid"
                         alt="pycharm installation activation">
                </div>
                <p></p>
                Geben Sie hier einfach Ihre Universitätsmail und Ihr Passwort an und klicken anschließend auf Activate.
            </div>
        </div>
    <p></p>
    </div>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'ide_lesson_python_installation' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'ide_lesson_ipython_installtion' %}
{% endblock lesson_nav_buttons_next_page %}