{% extends 'template_pages/ide_lesson_base.html' %}
{% load static %}

{% block ide_lesson_python_installation_active %}
    sidebar_active
{% endblock ide_lesson_python_installation_active %}

{% block sidebar_page_content %}
    <div class="card">
        <div class="card-body">
            <h1>Python Installation</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Zuallererst ist es wichtig, dass Sie Python auf ihrem Computer installieren. Dafür laden Sie sich bitte
            die jeweilige Datei, passend zu Ihrem Betriebssystem, von folgendem Link herunter.
            <p></p>
            <a href="https://www.python.org/downloads/" target="_blank"><span
                    class="link_color">Download-Link Python</span></a>
            <p></p>
            Nach erfolgreichem Download, starten Sie bitte die Installation mit einem Doppelklick auf die
            entsprechende Datei und folgen Sie den Anweisungen.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/ide_lesson/python_installation.bmp' %}"
                     class="rounded img-fluid"
                     alt="python installation">
            </div>
            <p></p>
            Setzen Sie hier einen Haken bei <span class="text_highlighted">Add Python 3.7 to PATH</span> und wählen
            Sie anschließend <span class="text_highlighted">Install Now</span> aus (Die Versionsnummer 3.7 kann
            natürlich mit neueren Releases abweichen).
            <p></p>
            Um zu testen, ob die Installation erfolgreich war, öffnen Sie ein Terminal und geben 'python' ein.
            Anschließend sollten sie etwas Ähnliches zu Folgendem sehen.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/ide_lesson/python_installation_test.png' %}"
                     class="rounded img-fluid"
                     alt="python installation test">
            </div>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'ide_lesson_introduction' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'ide_lesson_pycharm_installation' %}
{% endblock lesson_nav_buttons_next_page %}