{% extends 'template_pages/python_lesson_base.html' %}
{% load static %}

{% block lesson_2_operators_submenu_active %}
    sidebar_active
{% endblock lesson_2_operators_submenu_active %}

{% block lesson_2_operators_precedence_active %}
    sidebar_active
{% endblock lesson_2_operators_precedence_active %}

{% block sidebar_page_content %}
    <!-- Identifier for submenu logic -->
    <div id="submenu_identifier" style="display: none">operators_submenu_link</div>

    <div class="card">
        <div class="card-body">
            <h1>Operatoren: Priorität</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            In folgender Tabelle ist die Priorität der Operatoren (jeweils durch ein Leerzeichen getrennt)
            angegeben, von
            der höchsten (1) Priorität zur niedrigsten (9) Priorität. Dieses System können Sie sich wie in der
            Mathematik
            "Punkt vor Strich" vorstellen.
            <p></p>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Priorität</th>
                    <th scope="col">Operator</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>**</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>* / % //</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>+ -</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td><= < > >=</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>== !=</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>= (Zuweisungsoperator)</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>is is not</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>in not in</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>not or an</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Hilfreiche Links</h3>
            <ul>
                <li>
                    <a href="https://www.tutorialspoint.com/python/python_basic_operators.htm" target="_blank"><span
                            class="link_color">Python Operatoren Priorität (am Ende der Seite)</span></a>
                </li>
            </ul>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_2_operators' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'python_lesson_exercises_operators' %}
{% endblock lesson_nav_buttons_next_page %}