{% extends 'template_pages/python_lesson_base.html' %}
{% load static %}

{% block lesson_2_recursion_active %}
    sidebar_active
{% endblock lesson_2_recursion_active %}

{% block sidebar_page_content %}
    <div class="card">
        <div class="card-body">
            <h1>Rekursion</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Bei der sogenannten rekursiven Programmierung ruft sich eine Funktion im Programm selbst wieder auf.
            Dies
            stellt einen Gegensatz zur iterativen Programmierung dar, in der Sie, für die Lösung des selben
            Problems,
            Schleifen verwenden. Rekursion findet aber nur selten Anwendung in prozeduralen oder objektorientierten
            Sprachen, kann allerdings die Lesbarkeit oder einfachere Implementierung bei ausgewählten Problemen
            fördern.
            <p></p>
            Wichtig bei einer Rekursion ist es, eine Abbruchbedingung zu definieren, sonst würde ihr Programm endlos
            laufen. Zur Veranschaulichung nehmen wir das Beispiel zur Berechnung einer Fibonacci Zahl herbei.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Iterativ</h3>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_2/python_recursion_iterative_example.PNG' %}" class="rounded"
                     alt="Example of iterative fibo">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Rekursiv</h3>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_2/python_recursion_recursive_example.PNG' %}" class="rounded"
                     alt="Example of recursive fibo">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Hilfreiche Links</h3>
            <ul>
                <li>
                    <a href="https://www.python-kurs.eu/rekursive_funktionen.php" target="_blank"><span
                            class="link_color">Python Rekursion</span></a>
                </li>
                <li>
                    <a href="https://de.wikipedia.org/wiki/Rekursive_Programmierung" target="_blank"><span
                            class="link_color">Wikipedia Rekursion</span></a>
                </li>
            </ul>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'python_lesson_exercises_functions' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_2_object_oriented_programming' %}
{% endblock lesson_nav_buttons_next_page %}