{% extends 'template_pages/python_lesson_base.html' %}
{% load static %}

{% block lesson_2_strings_submenu_active %}
    sidebar_active
{% endblock lesson_2_strings_submenu_active %}

{% block lesson_2_strings_active %}
    sidebar_active
{% endblock lesson_2_strings_active %}

{% block sidebar_page_content %}
    <!-- Identifier for submenu logic -->
    <div id="submenu_identifier" style="display: none">strings_submenu_link</div>

    <div class="card">
        <div class="card-body">
            <h1>Strings</h1>
        </div>
    </div>
    <div id="load_animation_div" style="visibility: hidden">
        <div class="card aniview" data-av-animation="fadeInRightBig">
            <div class="card-body">
                Ein String ist eine Sequenz von einzelnen Zeichen, weshalb dieser Typ auch als <span
                    class="text_highlighted">Zeichenkette</span> bezeichnet wird. Man kann auf die einzelnen Zeichen
                mithilfe von Indizes zugreifen.
                <p></p>
                <div class="text-center">
                    <img src="{% static 'pictures/lesson_2/string_indices_example.PNG' %}" class="rounded"
                         alt="Example of the indices of a string">
                </div>
                <p></p>
                Wie man in obiger Abbildung gut erkennen kann, werden die Elemente mit 0 beginnend, von links nach
                rechts,
                indexiert. Man kann allerdings auch von rechts beginnend nach links zugreifen, woraus sich dann eine
                Indexierung von -1 absteigend ergibt. Somit kann man jedes Element direkt einzeln ansprechen.
                <p></p>
                <div class="text-center">
                    <img src="{% static 'pictures/lesson_2/python_strings_example.PNG' %}" class="rounded"
                         alt="Example of a string in python">
                </div>
                <p></p>
                Es gibt einige Möglichkeiten, um mit Strings zu arbeiten. Um eine
                Zusammenfassung über diese Möglichkeiten zu erhalten, können Sie den ersten Link <a
                    href="https://www.tutorialspoint.com/python/python_strings.htm" target="_blank"><span
                    class="link_color">Python Strings 1</span></a> verwenden.
            </div>
        </div>
        <div class="card aniview" data-av-animation="fadeInLeftBig">
            <div class="card-body">
                <h3>Hilfreiche Links</h3>
                <ul>
                    <li>
                        <a href="https://www.tutorialspoint.com/python/python_strings.htm" target="_blank"><span
                                class="link_color">Python Strings 1</span></a>
                    </li>
                    <li>
                        <a href="https://www.python-kurs.eu/python3_sequentielle_datentypen.php" target="_blank"><span
                                class="link_color">Python Strings 2</span></a>
                    </li>
                    <li>
                        <a href="https://de.wikipedia.org/wiki/Zeichenkette" target="_blank"><span class="link_color">Wikipedia String</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <p></p>
    </div>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_2_datatypes' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_2_exercises_strings' %}
{% endblock lesson_nav_buttons_next_page %}