{% extends 'template_pages/python_lesson_base.html' %}
{% load static %}

{% block lesson_2_tuple_active %}
    sidebar_active
{% endblock lesson_2_tuple_active %}

{% block sidebar_page_content %}
    <div class="card">
        <div class="card-body">
            <h1>Tupel</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Tupel sind ebenfalls sequentielle Datentypen. Sie funktionieren im Endeffekt exakt wie Listen. Das
            heißt, dass Tupel dieselben grundlegenden Operationen wie Listen besitzen und man mithilfe von Indizes
            auf einzelne Werte zugreifen kann. Allerdings sind Tupel <span class="text_highlighted">immutable</span>,
            was bedeutet, dass man die Werte eines Tupels im Nachhinein nicht mehr ändern kann. Somit können
            einzelne Werte eines Tupels nicht mehr geupdated oder mithilfe von <span
                class="text_highlighted">del</span> gelöscht werden.
            <p></p>
            <div class="alert alert-primary" role="alert">
                Wenn man dennoch mit Tupeln und den genannten Operationen arbeiten möchte, muss immer ein neues
                Tupel erzeugt werden, welches die gewünschten Werte beinhaltet.
            </div>
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_2/python_tuple_example.PNG' %}"
                     class="rounded"
                     alt="Example of tuple">
            </div>
            <p></p>
            Wie Sie erkennen können, werde Tupel mithilfe von Klammern <span class="text_highlighted">( )</span>
            erzeugt. Außerdem ist zu beachten, dass man bei einem Tupel mit nur einem Wert dennoch immer ein Komma
            setzen muss.
            <p></p>
            Wie bereits erwähnt, können einzelne Werte eines Tupels, nachdem dieses erzeugt wurde, nicht mehr
            geändert und somit auch nicht gelöscht werden. Allerdings ist es möglich ein gesamtes Tupel zu löschen,
            was im obigen Beispiel ersichtlich ist.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Hilfreiche Links</h3>
            <ul>
                <li>
                    <a href="https://www.tutorialspoint.com/python/python_tuples.htm" target="_blank"><span
                            class="link_color">Python Tupel</span></a>
                </li>
                <li>
                    <a href="https://www.python-kurs.eu/sequentielle_datentypen.php" target="_blank"><span
                            class="link_color">Python Sequentielle Datentypen</span></a>
                </li>
                <li>
                    <a href="https://en.wikibooks.org/wiki/Python_Programming/Tuples" target="_blank"><span
                            class="link_color">Wikibooks Tupel</span></a>
                </li>
            </ul>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_2_exercises_list' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_2_set' %}
{% endblock lesson_nav_buttons_next_page %}