{% extends 'template_pages/python_lesson_base.html' %}
{% load static %}

{% block lesson_2_variables_submenu_active %}
    sidebar_active
{% endblock lesson_2_variables_submenu_active %}

{% block lesson_2_variables_active %}
    sidebar_active
{% endblock lesson_2_variables_active %}

{% block sidebar_page_content %}
    <!-- Identifier for submenu logic -->
    <div id="submenu_identifier" style="display: none">variables_submenu_link</div>

    <div class="card">
        <div class="card-body">
            <h1>Variablen</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            In der Programmiersprache Python bezeichnet eine Variable, analog zu den Spielen in Blockly, keinen
            bestimmten
            Typ, weshalb ebenfalls keine Deklaration benötigt wird. Benötigt man im Programm bespielsweise eine
            Variable
            <code>i</code> mit dem Wert <code>50</code>, so
            erreicht man
            dies einfach mit der folgenden Anweisung.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_2/python_variables_example.PNG' %}" class="rounded"
                     alt="Example of a python variable i with value 50">
            </div>
            <p></p>
            Aus dem oben genannten Grund können Variablen in Python ihren Typ sogar ändern, nachdem sie festgelegt
            wurden.
            Ein Beispiel dafür ist in folgendem Bild ersichtlich.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_2/python_variables_redeclare_example.PNG' %}" class="rounded"
                     alt="Example of a python variable i with value 50">
            </div>
            <p></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Hilfreiche Links</h3>
            <ul>
                <li>
                    <a href="https://www.w3schools.com/python/python_variables.asp" target="_blank"><span
                            class="link_color">Python Variablen</span></a>
                </li>
                <li>
                    <a href="https://de.wikipedia.org/wiki/Variable_(Programmierung)" target="_blank"><span
                            class="link_color">Wikipedia Variable</span></a>
                </li>
            </ul>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_2_structuring' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_2_exercises_variables' %}
{% endblock lesson_nav_buttons_next_page %}