{% extends 'template_pages/python_lesson_base.html' %}
{% load static %}

{% block lesson_2_while_loop_submenu_active %}
    sidebar_active
{% endblock lesson_2_while_loop_submenu_active %}

{% block lesson_2_while_loop_active %}
    sidebar_active
{% endblock lesson_2_while_loop_active %}

{% block sidebar_page_content %}
    <!-- Identifier for submenu logic -->
    <div id="submenu_identifier" style="display: none">while_loop_submenu_link</div>

    <div class="card">
        <div class="card-body">
            <h1>while-Schleife</h1>
        </div>
    </div>
    <div id="load_animation_div" style="visibility: hidden">
        <div class="card aniview" data-av-animation="fadeInRightBig">
            <div class="card-body">
                Sie haben die while-Schleife ebenfalls in <a href="{% url 'lesson_1_loop' %}" class="link_color"
                                                             target="_blank"><span
                    class="link_color">Lektion 1</span></a>
                kennengelernt. Neu hinzu kommt, dass diese Schleifenart einen <span
                    class="text_highlighted">else-Teil</span> haben kann (vgl. bedingte Anweisungen). Dieser <span
                    class="text_highlighted">else-Teil</span> wird ausgeführt, sobald die Schleifenbedingung
                <u>nicht</u> mehr
                erfüllt ist.
                <p></p>
                <div class="text-center">
                    <img src="{% static 'pictures/lesson_2/python_while_loop_else_example.PNG' %}" class="rounded"
                         alt="Example of while loop else">
                </div>
            </div>
        </div>
        <div class="card aniview" data-av-animation="fadeInLeftBig">
            <div class="card-body">
                <h3>Break & Continue</h3>
                Mit den Schlüsselwörtern <span class="text_highlighted">break</span> und <span class="text_highlighted">continue</span>
                kann man eine Schleife vorzeitig bzw. lediglich einen Schleifendurchlauf beenden. Wenn die Schleife mit
                <span class="text_highlighted">break</span> beendet wird, dann wird der <span class="text_highlighted">else-Teil</span>
                der Schleife nicht mehr ausgeführt. Die Funktionsweise der beiden Schlüsselwörter wird in der folgenden
                Grafik ersichtlich.
                <p></p>
                <div class="text-center">
                    <img src="{% static 'pictures/lesson_2/python_while_loop_break_continue_example.PNG' %}"
                         class="rounded"
                         alt="Example of while loop else">
                </div>
            </div>
        </div>
        <div class="card aniview" data-av-animation="fadeInRightBig">
            <div class="card-body">
                <h3>Hilfreiche Links</h3>
                <ul>
                    <li>
                        <a href="https://www.python-kurs.eu/python3_schleifen.php" target="_blank"><span
                                class="link_color">Python while-Schleife</span></a>
                    </li>
                    <li>
                        <a href="https://www.tutorialspoint.com/python/python_loops.htm" target="_blank"><span
                                class="link_color">Python Schleifen</span></a>
                    </li>
                    <li>
                        <a href="https://de.wikipedia.org/wiki/Schleife_(Programmierung)" target="_blank"><span
                                class="link_color">Wikipedia Schleifen</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <p></p>
    </div>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_2_exercises_conditional_statements' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_2_exercises_while_loop' %}
{% endblock lesson_nav_buttons_next_page %}