{% extends 'template_pages/lesson_1_base.html' %}
{% load static %}

{% block lesson_1_logic_and_active %}
    sidebar_active
{% endblock lesson_1_logic_and_active %}

{% block sidebar_page_content %}
    <div class="card">
        <div class="card-body">
            <h1>Logischer Operator: Und</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Ein Operator ist ein Symbol zur Durchführung linguistischer, logischer oder mathematischer Operationen. In
            diesem Fall beschäftigen wir uns mit dem logischen Operator <span class="text_highlighted">and</span>. Wie
            Sie wahrscheinlich schon richtig vermuten werden, ist dies einfach eine simple und-Verknüpfung zwischen zwei
            Werten oder Bedingungen.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_example_logic_and.PNG' %}" class="rounded"
                     alt="logic and block">
            </div>
            <p></p>
            Der zugehörige Block erwartet zwei weitere Blöcke, die Sie miteinander verknüpfen wollen, wie in folgendem
            Beispiel zu sehen ist. Übrigens ist das <span class="text_highlighted"><</span> bzw. <span
                class="text_highlighted">></span> -Zeichen ebenfalls ein Operator. Diese fallen in die Kategorie der
            mathematischen Operatoren.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_example_logic_and_with_values.PNG' %}" class="rounded"
                     alt="logic and block with values">
            </div>
            <p></p>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_1_conditional_statements_addition' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_1_blockly_games_bird' %}
{% endblock lesson_nav_buttons_next_page %}