{% extends 'template_pages/lesson_1_base.html' %}
{% load static %}

{% block lesson_1_turtle_preparation_active %}
    sidebar_active
{% endblock lesson_1_turtle_preparation_active %}

{% block sidebar_page_content %}
    <!-- Sidebar scroll anchor -->
    <div id="scroll_anchor" style="display: none">50%</div>

    <div class="card">
        <div class="card-body">
            <h1>Schildkröte-Spielfeld</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Im nächsten Spiel steuern sie eine abstraktere Spielfigur. Mithilfe dieser sollen Sie unterschiedliche
            Formen (z.B. Quadrate oder Sterne) in verschiedenen Farben auf das Spielfeld zeichnen. Dafür bekommen Sie
            ebenfalls wieder Blöcke, um die Figur zu bewegen, um die Farbe auszuwählen sowie um den Stift ab- oder
            aufzusetzen. Ein paar weitere Blöcke und Konstrukte werden wieder in den folgenden Abschnitten behandelt.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_example_turtle_game.gif' %}" class="rounded"
                     alt="turtle field">
            </div>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_1_blockly_games_bird' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_1_counting_loop' %}
{% endblock lesson_nav_buttons_next_page %}