{% extends 'template_pages/lesson_1_base.html' %}
{% load static %}

{% block lesson_1_variables_addition_active %}
    sidebar_active
{% endblock lesson_1_variables_addition_active %}

{% block sidebar_page_content %}
    <div class="card">
        <div class="card-body">
            <h1>Variablen: Zusatz</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Am Ende des Schildkröten-Spiels in Level 10 dürfen Sie eine Vielzahl an neuen Blöcken selbst ausprobieren,
            ohne irgendwelche Ziele erreichen zu müssen. Dazu wird hier und im nächsten Abschnitt nur eine kleine
            Hilfestellung zu den Variablen- und Funktionsblöcken gegeben.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Create</h3>
            Um eine Variable zu erstellen, klicken Sie einfach in der Toolbox auf den entsprechenden Reiter <span
                class="text_highlighted">Variables</span> und wählen Sie <span class="text_highlighted">Create variable...</span>
            aus.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_example_variable_create.PNG' %}" class="rounded"
                     alt="variable create">
            </div>
            <p></p>
            Im anschließend aufgehenden Textfenster müssen Sie ihrer Variable nurnoch einen Namen geben, sodass Sie sie
            danach benutzen können.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_example_variable_create_textfield.PNG' %}"
                     class="rounded"
                     alt="variable create textfield">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Assign</h3>
            Um einer Variable einen Wert zuzuweisen, wählen Sie den Block <span class="text_highlighted">set [Variablenname] to</span>
            aus und hängen einen entsprechenden Block an (z.B. einen einfach Block mit einem Zahlenwert aus dem
            Math-Reiter).
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_example_variable_assign.PNG' %}"
                     class="rounded"
                     alt="variable assign">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Update</h3>
            Wenn Sie den Wert einer Variable ändern möchten, dann benutzen Sie den Block <span class="text_highlighted">change [Variablenname] by [Wert]</span>.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_example_variable_update.PNG' %}" class="rounded"
                     alt="variable update">
            </div>
            <p></p>
            Standardmäßig wird ein Zahlenwert erwartet, allerdings können Sie auch andere Blöcke an den Block hinten
            anhängen.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Use</h3>
            Zur Benutzung der erstellten Variablen, verwenden Sie einfach den Block den Sie im Abschnitt <a
                href="{% url 'lesson_1_variables' %}"><span class="link_color">Variablen</span></a> bereits
            kennengelernt haben.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_example_variable_use.PNG' %}" class="rounded"
                     alt="variable use">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2>Hilfreiche Links</h2>
            <ul>
                <li>
                    <a href="https://de.wikipedia.org/wiki/Variable_(Programmierung)" target="_blank"><span
                            class="link_color">Wikipedia Variable</span></a>
                </li>
            </ul>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_1_counting_loop' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_1_functions' %}
{% endblock lesson_nav_buttons_next_page %}