{% extends 'template_pages/lesson_1_base.html' %}
{% load static %}

{% block lesson_1_variables_active %}
    sidebar_active
{% endblock lesson_1_variables_active %}

{% block sidebar_page_content %}
    <div class="card">
        <div class="card-body">
            <h1>Variablen</h1>
        </div>
    </div>
    <div class="card aniview" data-av-animation="fadeInRightBig">
        <div class="card-body">
            Eine Variable im allgemeinsten Sinne ist ein einfacher Behälter zur Aufbewahrung von bestimmten Werten, also
            z.B. Buchstaben oder Zahlen. Man kann im Verlauf des Programms auf diese Variablen, oder genauer auf den
            Wert ihres Inhaltes zugreifen, oder ihnen einen neuen Wert zuweisen. Jede Variable benötigt außerdem einen
            eindeutigen Variablennamen (z.B. x oder y), sodass das Programm auch genau weiß, welche Variable es
            verwenden soll. Der zugehörige Block sieht folgendermaßen aus.
            <p></p>
            <div class="text-center">
                <img src="{% static 'pictures/lesson_1/blockly_example_variable.PNG' %}" class="rounded"
                     alt="variable block">
            </div>
            <p></p>
            In diesem Beispiel kann man zwischen den Variablen <span class="text_highlighted">x</span> oder <span
                class="text_highlighted">y</span> wählen, welche im nächsten Spiel für die jeweilige x- bzw.
            y-Koordinate stehen.
        </div>
    </div>
    <div class="card aniview" data-av-animation="fadeInLeftBig">
        <div class="card-body">
            <h2>Hilfreiche Links</h2>
            <ul>
                <li>
                    <a href="https://de.wikipedia.org/wiki/Variable_(Programmierung)" target="_blank"><span
                            class="link_color">Wikipedia Variable</span></a>
                </li>
            </ul>
        </div>
    </div>
    <p></p>
{% endblock sidebar_page_content %}

{% block lesson_nav_buttons_prev_page %}
    {% url 'lesson_1_bird_preparation' %}
{% endblock lesson_nav_buttons_prev_page %}

{% block lesson_nav_buttons_next_page %}
    {% url 'lesson_1_conditional_statements_addition' %}
{% endblock lesson_nav_buttons_next_page %}