@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.container {
    margin-top: 60px;
    min-width: 419px;
}

#login_button {
    margin-right: 5px;
}

#footer-content {
    background-color: #d9d9d9;
    padding-top: 5px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    overflow-x: hidden;
}

.link_color {
    color: #2979FF;
}

.text_highlighted {
    color: #f57c00;
}

.main_color {
    background-color: #316c9b;
}
